.popover {
  margin-top: 18px;

  .helpItemText {
    padding: 0;
    font-size: 15px;
  }

  .versionWrapper {
    padding-top: 17px;
    padding-bottom: 17px;

    .versionText {
      font-size: 12px;
      color: #757575;
    }
  }
}
