@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fafafa !important;

  @include mui-text('body1');
  color: $light-black;
  // copied from material-ui
  transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
    width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;

  > * {
    padding-left: 30px;
  }

  > a {
    text-decoration: none;
    color: $light-black;

    &:hover {
      text-decoration: underline;
    }
  }
}
