@import 'src/styles/modules/variables';

.container {
  text-align: center;
}

.iconClass {
  margin-right: 10px;
}

.message {
  font-size: 20px;
  font-family: Roboto;
  color: $dark-black;
  font-weight: 300;
  margin: 20px 0;
}
