@import 'src/styles/modules/variables';

.dataSegment {
  font-size: 16px;
  font-weight: 300;
  color: $dark-black;

  &.highlight {
    font-weight: 500;
  }

  &.clickable {
    cursor: pointer;
  }

  &.clickable:hover {
    color: $blue-1;
  }
}
