@import 'src/styles/modules/variables';

.iconSize {
  font-size: 1.5rem !important;
}

.engineCategoryIcon {
  color: $grey-6;
  margin: 0 0.25em !important;
  padding: 0 !important;
  width: auto !important;
  height: auto !important;
}

.deleteIcon {
  color: $min-black;
  margin: auto 0.1em auto 0.25em !important;
  font-size: 1.25em !important;

  &:hover:not([disabled]) {
    color: $light-black;
  }
}

.searchPill {
  transition: background-color 0.1s linear 0.1s;
  border-radius: 1.25em;
  margin: 0.1em;
  padding: 0.1em;
  display: inline-flex;

  &:not([disabled]) {
    cursor: pointer;
  }
}

.searchPillWithoutDelete {
  padding-right: 1em;

  &:disabled {
    display: none;
  }
}

.searchPillBackgroundColor {
  background-color: $light-blue50 !important;

  &:hover:not([disabled]) {
    background-color: $grey-2 !important;
  }
}

.searchPillHighlightedBackgroundColor {
  background-color: $min-black !important;

  &:hover:not([disabled]) {
    background-color: $semi-black;
  }
}

.searchPillExcludeBackgroundColor {
  background-color: $light-red50 !important;
}

.searchPillExcludeBackgroundColor {
  background-color: $light-red50 !important;

  &:hover:not([disabled]) {
    background-color: $grey-2 !important;
  }
}

.searchPillSelectedColor {
  color: $darkWhite !important;
}

.searchPillSelectedBackgroundColor {
  background-color: $min-black !important;
}
