@import 'src/styles/modules/_muiTypography';
@import 'src/styles/modules/_variables';

@mixin avatar($dimensions: 137px) {
  position: relative;
  width: $dimensions;
  min-width: $dimensions;
  max-width: $dimensions;
  height: $dimensions;
  border: 1px solid $faint-black;
  display: flex;
  align-items: center;
  justify-content: center;

  > i {
    font-size: 80px;
    color: $light-black;
  }
}

.row {
  display: flex;
  padding: 19px 0 40px;
  min-height: 177px;
}

.orgName {
  margin-bottom: 5px;
  font-size: 13px;
  color: $light-black;
}

.info {
  display: flex;
  align-items: center;
}

.container {
  display: inline-flex;
  padding-top: 3px;
  flex-grow: 1;
}

.title {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 5px;
}

.avatar,
.primary,
.secondary {
  display: inline-flex;
  flex-direction: column;
}

.primary {
  flex-grow: 1;
  padding: 0 20px;
}

.logos,
.logo {
  display: inline-flex;
}

.logo {
  height: 16px;
  align-items: center;

  img {
    height: auto;
  }
}
