@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';
@import '../common';

.back {
  display: flex;
  padding-top: 20px;
  padding-left: 28px;
  font-size: 20px;
}

.backBtn {
  @include mui-text('title');
  font-weight: 500 !important;
  color: $dark-black;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  span {
    margin-left: 10px;
  }
}

.content {
  padding: 40px 60px;
}

.description {
  padding-bottom: 22px;
}

.details {
  padding-top: 15px;
}

.sectionHeading {
  @include mui-text('menu');
  padding-bottom: 15px;
  color: $dark-black;
}

.detailsContent {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  margin-right: 20px;
}

.avatar {
  @include avatar(130px);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.info {
  padding-bottom: 30px;
}

.button {
  padding-top: 10px;
}
