.objectDetectionOutputView {
  padding: 20px 40px 0 30px;
  display: flex;
  flex-direction: column;
}

.objectDetectionViewHeader {
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .headerTitle {
    font-size: 16px;
    font-weight: 500;
  }
}

.objectDetectionContent {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  overflow: scroll;
}

.objectPill {
  height: 40px;
  max-width: 250px;
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 12px;
  font-size: 14px;
  margin: 0 14px 14px 0;

  &:hover {
    cursor: pointer;
  }
}

.selectedObjectInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  font-size: 14px;

  .backButtonHeader {
    width: 100%;

    .backButton {
      font-size: 16px;
      padding-left: 0;

      i {
        font-size: 20px;
        margin-right: 5px;
      }
    }
  }

  .objectNameAndCount {
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    padding: 15px 0;
  }

  .objectOccurenceList {
    width: 100%;
    display: flex;
    flex-flow: wrap;

    .objectOccurence {
      flex: 1 0 100px;
      box-sizing: border-box;
      color: #2196f3;
      padding-top: 5px;
      padding-bottom: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
