@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.extensionListContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.extensionListHeader {
  width: 100%;
}

.extensionListTitle {
  @include mui-text('subhead');
  padding-left: 20px;
  color: $light-black;
}

.extensionListCloseButton {
  position: absolute !important;
  top: 0;
  right: 0;
}

.extensionList {
  max-height: 200px;
  overflow-y: auto; 
}

.extensionTypeContainer {
  $audio-1: #00BFA5;
  $audio-2: rgba(0,191,165,0.05);
  $video-1: #E81D63;
  $video-2: rgba(233,30,99,0.05);
  $text-1: #4A4A4A;
  $text-2: rgba(117,117,117,0.05);
  $image-1: #4CAF4F;
  $image-2: rgba(76,175,80,0.05);
  border-radius: 2px;
  border: 1px solid;
  margin: 12px auto !important;
  width: calc(100% - 40px) !important;
  padding: 10px;

  .mediaTypeKey {
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    @include mui-text('caption');
    padding: 2px 7px;
  }
  &.audio {
    border-color: $audio-1;
    background-color: $audio-2;
    .mediaTypeKey {
      background-color: $audio-1;
    }
  }
  &.video {
    border-color: $video-1;
    background-color: $video-2;
    .mediaTypeKey {
      background-color: $video-1;
    }
  }
  &.text {
    border-color: $text-1;
    background-color: $text-2;
    .mediaTypeKey {
      background-color: $text-1;
    }
  }
  &.image {
    border-color: $image-1;
    background-color: $image-2;
    .mediaTypeKey {
      background-color: $image-1;
    }
  }
  .mediaExtension {
    @include mui-text('body1');
  }
}
