@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.paper {
  height: 65px;
  margin-bottom: 2px;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.label {
  @include mui-text('body2');
  width: 40%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.value {
  @include mui-text('body1');
  color: $light-black;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.actionIconContainer{
  width: 50px;
}
.actionIcon  {
  text-align: right;

  svg {
    color: $light-black !important;
  }
}