@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.source-config-wrapper {
  width: 50%;
}

.form-scroll {
  height: calc(100vh - 106px);
  overflow: scroll;
}

.form-tab {
  @include mui-text('body1');
}

.separator {
  margin: 0 15px;
  align-self: center;
  border-right: 1px solid $grey-1;
  height: 27px;
}

.btn-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  padding: 20px;

  & > *:not(:last-child) {
    margin-right: 20px;
  }
}

.tab-indicator {
  background-color: #f9a02c !important;
}

.shareContainer {
  padding: 30px;
}
