.ocrOutputView {
  padding: 20px 40px 0 30px;
  display: flex;
  flex-direction: column;
}

.ocrViewHeader {
  height: 45px;
  width: 100%;
  flex: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .headerTitle {
    font-size: 16px;
    font-weight: 500;
  }
}

.ocrContent {
  display: flex;
  flex-flow: row wrap;
  overflow: scroll;
}
