@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.ocrOutputView {
  display: flex;
  flex-direction: column;
}

.ocrContent {
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
  height: calc(100vh - 250px);
  padding-bottom: 25px;
}
