@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.dataPickerPaper {
  max-height: none !important;
  max-width: none !important;
}
.data-picker-error-snack {
  background-color: #d32f2f !important;
}
