.objectDetectionOutputView {
  display: flex;
  flex-direction: column;
}

.objectDetectionContent {
  overflow: scroll;
}

.objectPill {
  height: 40px;
  max-width: 250px;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 12px;
  font-size: 14px;
  margin: 0 14px 14px 0;

  &:hover {
    cursor: pointer;
  }
}

.objectAppearanceTime {
  overflow: visible !important;
  text-overflow: initial !important;
}
