.objectDetectionOutputView {
  display: flex;
  flex-direction: column;
}

.objectDetectionContent {
  overflow-y: auto;
  overflow-x: hidden;
  flex: auto;
  padding-top: 20px;
  height: calc(100vh - 250px);
  padding-bottom: 25px;
}
