.crumb-item {
  padding: 0 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.font-icon {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  color: rgba(0, 0, 0, 0.54);
}
