@import 'src/styles/modules/_variables';

.container {
  padding-top: 64px; // clear appbar
  background-color: $grey-1;
  height: 100%;
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
}

.column {
  height: 100%;
  max-width: 50rem;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.subheading {
  color: $light-black !important;
}

.greeting {
  margin-top: 13px !important;
}
