.dialog-content {
    padding: 0px !important;
    min-width: 700px;
    max-width: 700px !important;
}

.tabs-content {
    padding: 0 16px;
    background-color: #f4f4f4;
    border-radius: 0px !important;
}

.tabs {
    min-height: 38px !important;
    max-width: 300px;
}

.tab {
    font-size: 12px !important;
    min-height: 38px !important;
}

.general-content {
    padding: 0 16px;
}

.general-info {
    font-size: 18px;
    color: #808080;
}
.general-text {
    color: #808080;
}
.upload-image {
    height: 200px;
    border: 1px dashed #808080;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.upload-image-content {
    height: 100%;
    padding: 55px 0px;
    cursor: pointer;
    background-color: white;
    opacity: .8;
    transition: all 0.5s;
}

.icon-upload {
    font-size: 60px !important;
}

.file-name {
    margin-top: 20px;
}
