{
	"env": {
		"production": {
			"presets": [
				"stage-1",
				[
					"latest", {
					"es2015": {
						"modules": false
					}
				}
				]
			]
//			"plugins": ["external-helpers"]
		},

		"test": {
			"presets": [
				"stage-1",
				"latest"
			]
		}
	}
}
