@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.container {
  display: flex;
  align-items: center;
}

.prompt {
  @include mui-text('body1');

  font-family: monospace;
  word-break: break-all;
  display: inline-flex;
  align-items: center;
  background: $barely-black;
  min-height: 35px;
  border-radius: 2px;
  padding: 0 15px;
}

.prompt-symbol {
  @include mui-text('subhead');

  color: $light-black;
  padding-right: 20px;
}

.button {
  margin-left: 10px !important;
}

.color-- {
  &orange {
    color: #ffa726;
  }

  &blue {
    color: $blue-1;
  }

  &green {
    color: $green-bright;
  }

  &grey {
    color: $min-black;
  }

  &black {
    color: $full-black;
  }
}
