@import './modules/variables';
@import './modules/muiTypography';

.container {
  @include mui-text("subhead");

  padding: 5px 10px;
  background: $barely-black;
  border-radius: 2px;
  text-align: center;
  font-weight: 500;
}

.green {
  color: $green-primary;
}

.blue {
  color: $blue-1;
}
