@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.table-wrapper {
  display: block;
  overflow: auto;
}

.split-table-wrapper {
  display: block;
  overflow: hidden;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.table-cell {
  padding-right: 24px !important;
}

.focusTable {
  //overflow: hidden;
  transition: all 200ms ease;
  transition-property: max-height, margin-top, margin-bottom;
}

.leave {
  .focused-row {
    max-height: 250px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
}

.leaveActive {
  .focused-row {
    max-height: 48px;
    overflow: hidden;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.enter {
  .focused-row {
    max-height: 48px;
    overflow: hidden;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.enterActive {
  .focused-row {
    max-height: 250px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
}

.paginated-footer {
  color: $light-black !important;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;

  .rows-per-page {
    @include mui-text('caption');

    padding-right: 28px;
  }

  .per-page {
    @include mui-text('caption');

    margin-right: 32px;
  }

  .num-items {
    padding-right: 32px;
  }

  .page-left,
  .page-right,
  .refresh {
    button {
      width: 24px !important;
      height: 24px !important;
    }

    padding: 0 !important;
  }

  .page-left {
    margin-right: 24px !important;
  }

  .page-right {
    margin-right: 0 !important;
  }
}
