@import 'src/styles/modules/variables';

.linkButton {
  color: $blue-1;
  font-weight: normal;
  display: inline-block;
  
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &.highlight {
    font-weight: 500;
  }
}