@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.container {
  $progressItemBorder: 1px solid #E0E0E0;
  $progressItemHeight: 40px;
  position: relative;
  padding-bottom: 20px;

  .contentFlexer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .progressListContainer {
    min-height: calc(#{$progressItemHeight} * 3);
    max-height: calc(#{$progressItemHeight} * 6);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .resolveActions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    padding-bottom: 0;
  }
}
