@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.table-first-column--text {
  padding-left: 12px;
}

.table-first-column--folder {
  color: $dark-black;
  font-weight: 500;
}

.table-row-text {
  visibility: visible;
  position: absolute;
  line-height: 1.5;
  top: 0;
  padding: 15px 0;
}

.table-first-column {
  display: flex;
  align-items: center;
}

.table-icon {
  color: $light-black;
}

.table-row-head {
  height: 0 !important;
  padding: 0 !important;
}

.table-row-head--hidden {
  height: 0 !important;
  line-height: 0 !important;
  visibility: hidden;
  white-space: nowrap;
  padding: 0;
}

.table-row {
  border-bottom: 0 !important;
  color: $light-black;
  cursor: pointer;
  user-select: none;
  padding-right: 0 !important;
  padding-left: 8px !important;
}

.table-first-column {
  display: flex;
  align-items: center;
}

.selected {
  background: $min-black;
}
.unsupported:not(.selected) {
  td {
    color: $min-black;
    svg {
      color: $min-black;
    }
  }
}
