@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.containerCover {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.containerContain {
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.labelBackgroundContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background: $light-black;
  text-align: center;
  height: 30%;
  width: 100%;

  span {
    @include mui-text('caption');
    font-weight: 200 !important;
    color: white;
  }
}
