@import 'src/styles/modules/variables';
.popupContainer {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  background-color: $dark-black;
  > div:first-child {
    display: contents;
    > .boundingPolyContent {
      height: 100%;
      > .reactPlayer {
        height: 100%;
        display: contents;
      }
    }
  }

  > .liveLabel {
    top: 20px;
    left: 20px;
    position: absolute;
    border-radius: 3px;
    padding: 1px 8px;
    font-size: 12px;
    color: $fullWhite;
    pointer-events: none;
    background-color: $red500;
  }
}
