.sdoTile {
  height: 80px;
  // width: 100%;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  line-height: 15px;

  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  // justify-content: space-evenly;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  width: fit-content;

  .checkbox {
    margin-left: 25px;
  }
  .sdoBasicColumn {
    // flex: 1 1 auto;
    width: 120px;
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
    padding-right: 5px; // make it neater when columns are squeezed too close
  }
  
  .sdoImageWrapper {
    display: flex;
    justify-content: center;

    width: 120px;
    .sdoImage {
      height: 32px;
      width: 32px;
      align-self: center;
      padding-right: 5px; // make it neater when columns are squeezed too close
    }
  }
  

  // .sdoTextColumn {
  //   flex: 1 1 auto;
  //   align-self: center;
  //   justify-content: center;
  //   line-height: 1;
  //   overflow: hidden;
  //   white-space: nowrap;
  //   text-overflow: ellipsis;
  // }
  .sdoTextColumn {
    flex: 1 1 auto;
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // position: relative; 
    line-height: 1;
    max-height: 80px; 
    // padding-right: 1px;
  }

  // .sdoTextColumn:before {
  //   /* points in the end */
  //   content: '...';
  //   /* absolute position */
  //   position: absolute;
  //   /* set position to right bottom corner of block */
  //   right: 0;
  //   bottom: 0;
  // }

  // .sdoTextColumn:after {
  //   /* points in the end */
  //   content: '';
  //   /* absolute position */
  //   position: absolute;
  //   /* set position to right bottom corner of text */
  //   right: 0;
  //   /* set width and height */
  //   width: 1em;
  //   height: 1em;
  //   margin-top: 0.2em;
  //   /* bg color = bg color under block */
  //   background: white;
  // }
}