@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.container {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $grey-1;
  border-bottom: 1px solid $grey-4;
}

.rightIconButtonContainer {
  display: inline-block;
  width: 50px;
}

.multiTabsContainer {
  flex-grow: 1;

  .muiTabsFlexContainerOverride {
    height: 46px;
  }

  .muiTabButtonRootOverride {
    min-width: initial; // hack: get rid of material-ui's responsive scaling of tabs
    color: $dark-black;
    font-size: 14px; // hack: get rid of material-ui's responsive scaling of tabs
  }
}

.singleTabContainer {
  flex-grow: 1;
  padding-left: 25px;

  .singleTabLabel {
    @include mui-text('body1');
    text-transform: uppercase;
    color: $dark-black;
  }
}
