@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.container {
  display: flex;
  align-items: flex-end;

  .separator {
    @include mui-text('body1');
    color: $light-black;
    padding: 0 10px;
  }

  .dateTimeTZ {
    width: 40px;

    input {
      color: $light-black;
      border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
      padding: 3px 0;
    }
  }
}
