@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.faceEngineOutput {
  display: flex;
  flex-direction: column;
  flex: auto;

  .outputHeaderSelect {
    @include mui-text('body1');
    margin-left: 20px;

    .selectMenuItem {
      font-size: 14px !important;
    }
  }
}

.libraryName {
  height: 40px;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.06);
  border-bottom: 1px solid $grey-4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 18px;
  font-size: 14px;
  color: $dark-black;
}

.libraryIcon {
  font-size: 16px;
  color: $grey-5;
  margin-right: 5px;
}

.faceTab {
  @include mui-text('button');
  text-transform: none !important;
}

.faceTabBody {
  padding-top: 20px;
  overflow-y: auto;
  border-top: 1px solid $grey-4;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.facesByLibrary {
  width: 100%;
}

.noFacesFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  img {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

.noFaceMatchText {
  text-align: center;
  line-height: 24px;
  font-size: 20px;
  font-weight: 300;
}

.entityCountContainer {
  padding: 20px 0;
  display: flex;
  flex-flow: row wrap;
}

.entityCountChip {
  background-color: white !important;
  border: 1px solid $grey-4 !important;
  height: 40px !important;
  border-radius: 20px !important;
  margin: 0 20px 20px 0;

  &:hover {
    cursor: pointer;
    background-color: $grey-2 !important;
  }

  &:active {
    box-shadow: none !important;
  }
}

.faceAvatar {
  height: 40px !important;
  width: 40px !important;
}

.selectMenuItem {
  font-size: 14px !important;

  &.menuItemInset {
    margin-left: 40px;
  }
}

.restoreOriginalMenuItem {
  padding: 0 !important;
}

.userEditListItemIcon {
  margin-right: 0 !important;
}

.cantEditWarning {
  height: 40px;
  width: 100%;
  background-color: #fff8e1;
  margin-bottom: 20px;
  padding: 0 18px;
  display: flex;
  align-items: center;

  span {
    opacity: 0.87;

    .boldNoteText {
      font-weight: 600;
    }
  }

  .cantEditInfoIcon {
    font-weight: 600;
    font-size: 15px;
    margin-right: 5px;
  }
}
