@import 'src/styles/modules/variables';

.filePickerHeader {
  width: 100%;
  min-height: 93px;
  display: flex;
  flex-direction: column;
  background-color: $grey-1;
  border-bottom: 1px solid $grey-4;
}

.titleIconContainer {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.filePickerTitle {
  flex: auto;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 20px;
}

.filePickerMessage {
  margin-left: 55px;
  padding-bottom: 20px;
  font-size: 14px;
}

.filePickerCloseButton {
  position: absolute !important;
  top: 8px;
  right: 5px;
}
