.tableRow {
  height: 62px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .checkbox {
    margin-left: 25px;
    align-self: center;
  }

  .rowTextGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .columnText {
      height: 14px;
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      align-self: center;
      width: 17%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 5px;
    }

    .status {
      align-self: center;
      width: 17%;
      overflow: hidden;
      padding-right: 5px;
    }

    .menuIcon {
      font-size: 22px;
      align-self: center;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
