@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.popover {
  margin-top: 18px;
}

.userNullState {
  @include mui-text('body1');
  padding: 20px 0 !important;
  margin: 0 auto;
  width: 200px;
  text-align: center;
  cursor: default !important;
}

.header {
  display: flex;

  &:focus {
    outline: none; // prevent outline around profile subheader
  }

  .user-avatar {
    padding-right: 15px;
  }

  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: left;

    .full-name {
      @include mui-text('body2');
      color: $dark-black;
    }

    .username {
      @include mui-text('caption');
    }

    .editButton {
      padding: 5px 0 10px;

      div {
        // fix shadow
        line-height: 36px;
      }
    }
  }
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
