@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progressPercentageContainer {
  position: relative;

  .percentage {
    @include mui-text('display1');
    font-weight: 200 !important;
    margin: 20px 0;
  }

  .progress {
    position: absolute;
    top: -23px;
    left: -33px;
    z-index: 1;
  }
}

.progressMessage {
  margin-top: 25px;
  @include mui-text("subhead");
  color: $dark-black;
}
