@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.container {
  position: relative;

  .circularProgressContainer {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .circularProgress {
      position: relative;
      top: -22px;
      //left: -12px;
      //z-index: 1;
    }
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .percentageContainer {
      height: 125px;
      display: flex;
      align-items: center;

      .percentage {
        @include mui-text('display1');
        font-weight: 200 !important;
      }
    }

    .resolutionIconContainer {
      height: 125px;

      .resolutionIcon {
        height: 125px;
        width: 125px;
      }
    }

    .progressMessage {
      @include mui-text('subhead');

      height: 40px;
      color: $dark-black;
    }
  }
}
