.sdoCard {
  height: 297px;
  width: 311px;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  position: relative;

  .jobThumbnail {
    width: 100%;
    height: 164px;
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0; // for testing ui
    .imageStyle {
      height: 297px;
      width: 311px;
      max-height: 100%;
    }
  }

  .jobDetails {
    padding: 20px;

    .checkboxBackground {
      background-color: #FFFFFF;
      position: absolute;
      top: 10px;
      left: 10px;
      width: 15px;
      height: 15px;
      margin-left: 2px;
      margin-top: 2px;
    }
      
    .checkbox {
      // margin-left: 14px;
      position: absolute;
      top: 10px;
      left: 10px;
      height: 20px;
      width: 20px;
    }

    .checkboxPrimary {
      color: #2196F3 !important;
    }

    
    

    .jobName {
      font-size: 14px;
      font-weight: 500;
      line-height: 13px;
      color: rgba(0, 0, 0, 0.87);
      padding-bottom: 5px;
    }

    .schemaVersion {
      font-size: 12px;
      line-height: 13px;
      color: rgba(0, 0, 0, 0.87);
      padding-bottom: 5px;
    }

    .creationDate {
      font-size: 12px;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.54);
    }
  }
  
}