.card {
  height: 297px;
  width: 311px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 4px 0 rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;

  .thumbnail {
    width: 100%;
    height: 164px;
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0; // for testing ui

    .imageStyle {
      height: 297px;
      width: 311px;
      max-height: 100%;
    }
  }

  .details {
    padding-left: 20px;

    .checkboxBackground {
      background-color: #fff;
      position: absolute;
      top: 10px;
      left: 10px;
      width: 15px;
      height: 15px;
      margin-left: 2px;
      margin-top: 2px;
    }

    .checkbox {
      position: absolute;
      top: 10px;
      left: 10px;
      height: 20px;
      width: 20px;
    }

    .checkboxPrimary {
      color: #2196f3 !important;
    }

    .name {
      font-size: 14px;
      font-weight: 500;
      line-height: 13px;
      color: rgba(0, 0, 0, 0.87);
      padding-bottom: 5px;
    }

    .gridDetails {
      .gridDetailsRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 5px;

        .detailsTitle {
          color: rgba(0, 0, 0, 0.87);
          font-size: 12px;
          line-height: 13px;
          width: 80px;
          margin-right: 10px;
        }

        .detailsText {
          color: rgba(0, 0, 0, 0.87);
          font-size: 12px;
          line-height: 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .status {
      bottom: 10px;
      right: 10px;
      position: absolute;
    }
  }
}
