.tableRow {
  height: 62px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 20px;

  .rowTextGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .imageStyle {
      align-self: center;
      margin-right: 17px;
    }

    .mainColumn {
      height: 15px;
      color: rgba(0, 0, 0, 0.87);
      font-size: 13px;
      line-height: 15px;
      align-self: center;
      width: 40%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 5px;
    }

    .columnText {
      height: 15px;
      color: rgba(0, 0, 0, 0.87);
      font-size: 13px;
      font-weight: 500;
      line-height: 15px;
      align-self: center;
      width: 20%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 5px;
    }
  }

  .menuIcon {
    font-size: 22px;
    align-self: center;
  }

  &:hover {
    cursor: pointer;
  }
}
