.fullPage {
  height: 100%;
  .fullScreenTopBar {
    background-color: #1F2532;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    .topBarTitle {
      color: #FAFAFA;
      font-size: 20px;
      line-height: 28px;
      align-self: center;
      margin-left: 25px;
    }
  
    .iconGroup {
      align-self: center;
      display: flex;
      justify-content: space-between;
      // width: 125px;
      margin-right: 25px;
  
      .helpIcon {
        height: 20px;
        width: 20px;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.54);
        align-self: center;
        margin-right: 20px;
      }
      .menuIcon {
        height: 22px;
        width: 22px;
        font-size: 22px;
        color: rgba(255, 255, 255, 0.54);
        align-self: center;
      }
      .separator {
        align-self: center;
        border-right: 2px solid rgba(255, 255, 255, 0.54);
        height: 27px;
        margin-left: -2px;
        margin-bottom: -2px;
      }
      .exitIcon {
        height: 22px;
        width: 22px;
        font-size: 22px;
        color: rgba(255, 255, 255, 0.54);
        align-self: center;
        margin-left: 20px;
      }
    }
  }
  
  .tableCard {
    // margin-left: 2vh;
    // margin-right: 2vh;
    overflow: auto;
    bottom: 0;
    height: 88vh;
  
    .schemaTitle {
      padding: 20px 0 20px 25px;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
  
      .schemaTitleGroup {
        display: flex;
        flex-direction: row;
        align-items: center;
  
        .imageStyle {
          height: 38px;
          width: 38px;
        }
    
        .schemaName {
          line-height: 16px;
          font-weight: 500;
          font-size: 14px;
          align-self: center;
          padding-left: 20px;
        }
      }

      .schemaGroup {
        display: flex;
        flex-direction: row;
        align-items: center;
  
        .schemaSelect {
          margin-right: 20px;
        }
  
        .separator {
          align-self: center;
          border-right: 2px solid #e0e0e0;
          height: 27px;
          margin-left: -2px;
          margin-bottom: -2px;
        }
  
        .exportIcon {
          font-size: 22px;
          height: 22px;
          width: 22px;
          align-self: center;
          margin-left: 20px;
          margin-right: 20px;
        }
      }

    }
    
    .sdoTableTitle {
      height: 60px;
      width: fit-content;
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      padding-left: 24px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      border-bottom: 1px solid rgba(0,0,0,0.12);
    
      .checkbox {
        margin-left: 25px;
      }
    
      .sdoBasicColumn {
        // flex: 1 1 auto;
        width: 120px;
        align-self: center;
        line-height: 1;
        padding-right: 5px; //make it neater when columns are squeezed too close
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    
    }
  }
}


