.dialog-content {
  margin: 20px;
}

.area-text {
  width: 670px;
  color: #3b4043;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.only-return-text {
  color: #5f6369;
  font-family: Roboto;
  font-size: 13px;
  line-height: 15px;
  margin-top: 5px;
}

.location-select-div {
  margin-top: 14px;
}

.confidence-text {
  height: 16px;
  width: 75px;
  color: #3b4043;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.action {
  display: flex;
  margin-top: 0 !important;
  justify-content: space-between;
  align-items: center;
}

.reset-all {
  height: 16px;
  width: 71px;
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 16px;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

  .text {
    color: #5c636b;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
  }
}

.advanced-icon-button {
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;
  margin-left: 20px !important;
}

.vbtn-blue {
  background-color: #4285f4 !important;
  color: #fff !important;
}

.vbtn-black-color {
  color: #000 !important;
}

.vbtn-cancel {
  margin-right: 15px !important;
}
