.dialog-content {
  margin: 20px;
}
.area-text {
  width: 670px;
  color: #3B4043;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 16px;
}
.only-return-text {	
  height: 15px;
  width: 415px;
  color: #5F6369;
  font-family: Roboto;
  font-size: 13px;
  line-height: 15px;
  margin-top: 5px;
}

.location-select-div {
  margin-top: 14px;
}
.confidence-text {
	height: 16px;
	width: 75px;
	color: #3B4043;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.4px;
	line-height: 16px;
}
.action {
  display: flex;
  margin-top: 0px !important;
  justify-content: space-between;
  align-items: center;
}
.reset-all {
	height: 16px;
	width: 71px;
	color: #000000;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.1px;
	line-height: 16px;
}