@import 'src/styles/modules/variables';

.engineCategoryTabsContainer {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;

  .engineCategoryTabs {
    min-height: 37px;
  }

  .engineCategoryTab {
    min-width: 58px;
    width: 58px;
    color: $light-black;
    overflow: visible;
    opacity: 1;

    .categoryTabTooltip {
      text-transform: capitalize;
      width: 54px;
    }

    .categoryIcon {
      font-size: 20px;
      width: 54px;
    }
  }

  .engineCategoryTabSelectedColor {
    color: $full-black;
  }
}
