.folder-paper {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
}

.folder-view-container {
  display: flex;
  height: 100%;
}

.folder-view-content {
  position: relative;
  padding-top: 48px;
  width: 100%;
  height: 100%;
  transition: width 500ms;
  &.panel-open {
    width: calc(100% - 340px);
  }
}

.folder-null-state-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
