@import 'src/styles/modules/_variables';
@import 'src/styles/modules/_muiTypography';

.cluster-type-container {
  width: 100%;
  height: 100%;
  background-color: $grey-1;
  display: flex;
  flex-direction: column;
}

.cluster-types {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.splash-title {
  @include mui-text('headline');

  color: $dark-black;
  text-align: center;
  padding: 70px 0;
}
