@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.descriptionCharCount {
  text-align: right !important;
}

.addCoverImageText {
  @include mui-text('subhead');

  .optionalText {
    color: $min-black;
  }
}

.libraryFormInput {
  color: $dark-black;
  font-size: 14px !important;
  line-height: 16px !important;
}

.libraryFormInputLabel {
  font-size: 12px !important;
  line-height: 14px !important;
  transform: none !important;
}

.libraryFormSelect {
  color: $light-black !important;
  font-size: 14px !important;
  line-height: 16px !important;
}

.libraryType {
  @include mui-text('body1');
}

$cover-image-height: 200px;

.coverImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $cover-image-height;
  margin-top: 20px;

  &.dashedBorder {
    border: 1px dashed $grey-4;
  }

  &.greyBackground {
    background-color: $grey-4;
  }

  .uploadIcon {
    font-size: 45px;
    color: $semi-black;
    margin-bottom: 15px;
  }

  .imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .imageOverlayContainer {
      max-width: 100%;
      max-height: $cover-image-height;
      position: relative;

      img {
        max-height: $cover-image-height;
        max-width: 100%;
        object-fit: contain;
      }

      .imageOverlay {
        height: 36px;
        width: 100%;
        position: absolute;
        background-color: black;
        opacity: 0.75;
        bottom: 0;
        color: white;
        display: flex;
        justify-content: center;

        .actionIconButton {
          height: 36px;
          color: white;
        }
      }
    }
  }
}
