@import 'src/styles/modules/variables';

.overviewFragment {
  cursor: pointer;
  color: $dark-black;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;

  &:hover {
    color: $blue-1;
  }

  &:after {
    content: " ";
  }
}

.highlight {
  font-weight: bolder;
}
