.autocompletePill {
  border-radius: 3px !important;
  margin-right: 5px;

  & .deleteIcon {
    height: 65%;
  }
}

.autocompletePillLabel {
  padding-left: 0 !important;
}

.autocompleteMenuItem {
  height: 1.3em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

// // TODO: make this look good for react autocomplete pills
// .search-ted-pill-wrapper {
//   cursor: pointer;
//   display: inline-block;
//   height: 100%;
//   line-height: 38px;
//   margin: 2px;
//   font-weight: 400;
//   color: #666;
//   max-width: 240px;
// }

// .search-ted-pill {
//   height: 30px;
//   line-height: 30px;
//   border-radius: 3px;
//   background-color: #f4f4f4;
//   padding: 0px 4px;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   font-size: 14px;
// }

// .search-ted-icon {
//   color: #7e7e7e;
//   transition: all .2s;
// }

// .search-ted-pill-icon {
//   font-size: 18px;
//   -ms-flex-item-align: center;
//   -webkit-align-self: center;
//   align-self: center;
// }

// .search-ted-pill-image {
//   height: 20px;
//   margin: 0 4px;
//   margin-bottom: 3px;
//   vertical-align: middle;
//   border-radius: 3px;
// }

// .search-ted-pill-text {
//   display: inline-block;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   margin: 0 4px;

//   .search-ted-pill-image {
//     margin-left: 0;
//   }
// }

// .search-ted-pill-count {
//   padding: 0 4px;
//   font-weight: 200;
// }

// .search-ted-pill-close {
//   color: #ccc;
//   cursor: pointer;
//   padding: 4px;
//   -ms-flex-item-align: center;
//   -webkit-align-self: center;
//   align-self: center;

//   &:hover {
//     color: #666
//   }
// }
