.notification {
  display: "flex";
  align-items: "center";
}

.popover {
  &.full > div:last-child {
    height: 100%;
  }
}

.notificationWindow {
  width: 566px;
  height: 100%;
  color: white;
  background-color: #323232;

  .header {
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    padding: 0px 16px;
    background-color: #454545;

    display: flex;
    flex-direction: row;

    .label {
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .chip {
      height: 16px;
      font-size: 10px;
      line-height: 15px;
      padding: 1px 10px 0px 10px;
      border-radius: 8px;
      margin-top: 16px;
      margin-left: 20px;
      background-color: #00bcd4;
    }
  }

  .body {
    height: calc(100% - 97px);
  }

  .footer {
    padding: 6px 0px;
    display: flex;
    justify-items: center;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.54);

    &.hidden {
      display: none;
    }
  }
}

.notificationList {
  overflow: auto;
  height: 100%;

  .entry {
    height: 64px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-items: center;

    & > div:not(:last-child) {
      margin-right: 16px;
    }

    .visualStatus {
      margin-top: 4px;
    }

    .statusIcon {
      height: 24px;
      width: 24px;
      margin-top: 4px;

      &.green {
        border-radius: 50%;
        padding: 3px 0;
        background-color: #66bb6a;
        color: white;
      }

      &.red {
        background-color: #ff0c3e;
        border-radius: 50%;
        padding: 3px 0;
      }
    }

    .description {
      flex: 1;
      min-width: 0;

      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .title {
        font-size: 14px;
        line-height: 20px;
      }

      .subtitle {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.54);
      }
    }

    .extra {
      width: 130px;
      font-size: 12px;
      line-height: 32px;
      color: rgba(255, 255, 255, 0.54);
      display: flex;
      flex-direction: row;
      justify-items: center;

      .description {
        flex: 1;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70%;
      }

      .actions {
        .iconButton {
          width: 32px;
          height: 32px;
          .icon {
            color: rgba(255, 255, 255, 0.54);
          }
        }

        .iconButton:hover {
          .icon {
            color: white;
          }
        }
      }
    }
  }
}
