@import 'src/styles/modules/variables';

.textFieldLabel {
  font-weight: normal !important;
}

.selectFieldLabel {
  margin-top: -16px;
}

.dateTimeContainer {
  padding-top: 18px !important;
}

.selectContainer {
  display: block !important;
  margin-top: 36px !important;
  margin-bottom: 8px !important;
}

.forceBlockDisplay {
  display: block !important;
}

.unsupportedMsg {
  padding-top: 20px;
  color: $light-black;
  font-size: 14px;
  font-style: italic;
}
