@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.fileUploader {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $grey-1;
    border: 4px dashed $grey-4;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    position: relative;
}

.fileUploadIcon {
    color: #9a9a9a;
    @include mui-text('display2');
}

.fileUploaderSubtext {
    @include mui-text('subhead');
    margin-bottom: $file-picker-margin;
}

.uploaderOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
