@import 'src/styles/modules/muiTypography';

.appBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  padding: 0 10px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  height: 24px;
}

.title {
  @include mui-text('title');
  color: white;
  //margin-left: auto;
}

.iconGroup {
  //margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconGroup__icon {
  //width: 100px;
  padding-left: 20px;
}

.rightAction-label {
  @include mui-text('caption');

  text-decoration: none;
  color: white;
  //margin: 0;
  opacity: 0.87;
}
