@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.fileProgressItem {
  $progressItemBorder: 1px solid #E0E0E0;
  $progressItemHeight: 52px;
  $audio-color: #00BFA5;
  $video-color: #E81D63;
  $text-color: #4A4A4A;
  $image-color: #4CAF4F;
  border-bottom: $progressItemBorder;
  overflow: hidden;

  .fileName {
    @include mui-text('body1');
    display: inline-block;
    color: $light-black;
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
    line-height: $progressItemHeight;
    vertical-align: text-top;
  }
  .sizeContainer {
    display: inline-block;
    text-align: center;
    width: calc(20% - 40px);
    .fileSize {
      @include mui-text('body1');
      color: $light-black;
    }
    &:last-child {
      margin-right: 14px;
    }
  }
  .fileIconContainer {
    $outter-padding: 16px;
    border-radius: 100%;
    height: calc(#{$progressItemHeight} - #{$outter-padding});
    width: calc(#{$progressItemHeight} - #{$outter-padding});
    min-width: calc(#{$progressItemHeight} - #{$outter-padding});
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;

    .fileIcon {
      display: block;
      margin: 0 auto;
      margin-top: 6px;
      color: white;   
    }
    &.audio {
      background-color: $audio-color;
    }
    &.video {
      background-color: $video-color;
    }
    &.image {
      background-color: $image-color;
    }
    &.text {
      background-color: $text-color;
    }
  }
  .fileProgressItemOverlay {
    height: $progressItemHeight;
    line-height: $progressItemHeight;
    float: left;
    position: relative;
    margin-top: -$progressItemHeight;
    z-index: 1;
    width: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  .progressTextOverlay {
    margin-top: -$progressItemHeight;
    position: relative;
    float: left;
    width: 100%;
    .progressText {
      @include mui-text('headline');
      color: rgba(33,150,243,0.38);
      line-height: $progressItemHeight !important;
      height: $progressItemHeight;
      margin-left: -70px;
    }
  }
  .fileProgressBar {
    height: $progressItemHeight;
    background-color: white;
  }
  .fileProgressBarPrimary {
    background-color: rgba(33,150,243,0.12);
  }
  .fileProgressBarError {
    background-color: #FFEBEE;
  }
}
