@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.editMetadataDialogPaper {
  min-width: 640px;
  width: 640px;
  display: flex;
  flex-flow: column;

  .dialogTitle {
    h2 {
      height: 28px;
      line-height: 28px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }

    h2 .dialogTitleLabel {
      color: $dark-black;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
    }

    .closeButton {
      height: 28px;
      width: 28px;
    }
  }

  .textInput {
    margin-top: 20px;
    color: $dark-black;

    input {
      @include mui-text('body1');
      font-family: Roboto;
    }

    label {
      @include mui-text('caption');
      color: $light-black;
      font-family: Roboto;
      transform: none;
    }
  }

  .programImagesSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;

    .imageSection {
      display: flex;
      flex-direction: column;
      align-content: center;

      .programImageLabel {
        @include mui-text('body1');
        text-align: center;
        height: 16px;
        color: $dark-black;
        font-family: Roboto;
      }

      .programLiveImageContainer {
        height: 120px;
        width: 200px;
        margin-top: 20px;
        position: relative;

        .programLiveImage {
          width: 100%;
          height: 100%;
          margin: 0;
          object-fit: cover;
        }

        .imageOverlay {
          height: 32px;
        }
      }

      .programImageContainer {
        height: 120px;
        width: 120px;
        border-radius: 60px;
        margin-top: 20px;
        margin-left: 10px;
        overflow: hidden;
        position: relative;

        .programImage {
          width: 100%;
          height: 100%;
          margin: 0;
        }

        .imageOverlay {
          height: 36px;
        }
      }

      .imageOverlay {
        position: absolute;
        width: 100%;
        background-color: black;
        opacity: 0.75;
        bottom: 0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        .editProgramImageIcon {
          margin: 0 7px;
          font-size: 20px;
          opacity: 1;
        }

        .editProgramLiveImageIcon {
          margin: 0 10px;
          font-size: 20px;
          opacity: 1;
        }
      }
    }
  }
}
