@import 'src/styles/modules/variables';

.ocrContainer {
  border: 1px solid $grey-4;
  border-radius: 20px;
  padding: 9px 12px 8px;
  line-height: 21px;
  margin: 0 15px 15px 0;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  min-height: 40px;

  &.highlighted {
    border-color: $blue-1;
    background-color: $light-blue;
  }

  .ocrText {
    color: $dark-black;
  }

  .ocrObjectTimestamp {
    margin-left: 5px;
    color: $blue-1;
  }
}
