.root {
  width: 100%;
  max-width: 360px;
  padding-left: 12px !important;
  padding-right: 16px !important;
  background-color: #E8EAED;
  box-shadow: 0 15px 12px 0 rgba(0,0,0,0.22), 0 19px 38px 0 rgba(0,0,0,0.3);
  display: flex;
  flex-flow: column;
}

.spacer {
  flex-grow: 1;
}

.divider {
  margin-top: 16px;
  margin-bottom: 20px;
  margin-left: 12px;
  margin-right: 8px;
}

.selected {
  background-color: rgba(33,150,243,0.12) !important;
}

.upload-button {
  border: 1px solid #2196F3 !important;
  width: 120px !important;
  align-self: center;
  padding: 8px !important;
  svg {
    color: #2196F3 !important;
    margin: 0 !important;
    margin-left: 8px !important;
  }

  div {
    span {
      color: #2196F3 !important;
    }
  }
}
