.aside {
  width: 220px;
  padding: 10px!important;
  background-color: #E8EAED;
  display: flex;
  flex-flow: column;
  position: relative;
  z-index: 10;
  height: 100%;
}

.navigation-item {
  padding: 8px 10px!important;
  .icon, svg{
    color: #616e7b;
    margin-right: 0;
    font-size: 20px;
  }
  span{
    font-size: 14px;
    color: #616e7b;
  }
}
.spacer {
  flex-grow: 1;
}

.divider {
  margin-top: 16px;
  margin-bottom: 20px;
  margin-left: 12px;
  margin-right: 8px;
}

.selected {
  background: #cfdfed!important;
}

.upload-button {
  border: 1px solid #2196F3 !important;
  width: auto !important;
  align-self: center;
  padding: 8px !important;
  svg {
    color: #2196F3 !important;
    margin: 0 !important;
    margin-left: 8px !important;
  }

  div {
    span {
      color: #2196F3 !important;
    }
  }
}
