@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.root {
  @include mui-text('caption');
  text-transform: lowercase;
  background-color: $grey-4 !important;
  border: 1px solid $barely-black !important;
}
