@import 'src/styles/modules/variables';

// .sm-dialog {
//   span {
//     color: #fff;
//   }
// }

.sm-form-wrapper {
  margin: 0 auto;
  width: 70%;
}

.source-config-wrapper {
  width: 50%;
}

.separator {
  align-self: center;
  border-right: 1px solid $grey-1;
  height: 27px;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
