@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.sm-form-wrapper {
  margin: 0 auto;
  width: 70%;
}

.source-config-wrapper {
  width: 50%;
}

.form-tab {
  @include mui-text('body1');
}

.separator {
  margin: 0 15px;
  align-self: center;
  border-right: 1px solid $grey-1;
  height: 27px;
}

.btn-container {
  position: absolute;
  bottom: 0;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
