.smDialog {
  span {
    color: #fff;
  }
}
.separator {
  align-self: center;
  border-right: 1px solid rgba(255, 255, 255, 0.54);
  height: 27px;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end
}

.tabIndicator {
  background-color: #F9A02C;
  color: #F9A02C;
}