@import 'src/styles/modules/variables';

.smDialog {
  span {
    color: #fff;
  }
}

.sm-form-wrapper {
  margin: 0 auto;
  width: 70%;
}

.separator {
  align-self: center;
  border-right: 1px solid $grey-1;
  height: 27px;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
