@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  // copied from material-ui
  transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
    width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;

  &.selected {
    background: #f6fbff !important;
  }
}

.actionButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e0e0e0;
}

.leftButtonContainer {
  flex-grow: 0;

  .highlight {
    background: $grey-2;
    height: 100%;
    display: inline-block;
  }
}

.rightContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 22px;

  @include mui-text('body1');
  color: $dark-black;

  .selected {
    font-weight: 400;
    color: $blue-3;
  }

  .rightIconButtons {
    display: flex;
    align-items: center;

    svg {
      height: 22px;
    }
  }
}
