@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.appSwitcher__title {
  @include mui-text('caption');

  color: white;
  display: inline-block;
  margin: 0;
  opacity: 0.87;
}

.appListButton {
  @include mui-text('subhead');
  min-width: 220px;
  line-height: 48px !important;
}

.appListButtonIcon {
  margin: auto 2px auto 0;
  vertical-align: middle;
  width: 24px;
  margin-right: 10px;
  display: inline-block;
  font-size: 20px;
  text-indent: 1px;
}

.hasSvg {
  width: 24px;
  opacity: 0.54;
  margin-right: 10px;
}

.appListButtonNullstate {
  @include mui-text('body1');
  padding: 20px 0 !important;
  margin: 0 auto;
  width: 200px;
  text-align: center;
  cursor: default !important;
}

.appListButtonErrorState {
  @include mui-text('body1');

  padding: 20px 0 !important;
  margin: 0 auto !important;
  white-space: normal;
  width: 150px;
  line-height: initial;
  text-align: center;
  cursor: default;

  > button {
    margin-top: 20px;
  }
}
