.preview-container {
  display: flex;
  align-items: center;
}

.preview-container--selected {
  border: 1px dashed #a5a5a5;
}

.preview-icon {
  margin: 0 0 0 8px;
  cursor: pointer;
}

.preview-container .help-icon {
  font-size: 14px;
}

.preview-container .item-checkbox {
  display: flex;
  align-items: center;
}

.margin-tb-15 {
  margin: 15px 0 !important;
}

.preview-content {
  width: 80% !important;
}

.preview-action {
  display: flex;
  margin-left: 20px;
}

.dialog-footer {
  margin: 15px;
}

.item-preview {
  margin-bottom: 20px;
}

.title-paragraph {
  margin-top: 0;
}

.box {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.23);
  width: 100%;
  border-radius: 5px;
}

.form-item {
  margin-top: 20px !important;
}

.rating-box {
  margin-bottom: 5px !important;
}
