@import 'src/styles/modules/muiTypography';

.translationOutput {
  width: 100%;
  overflow: hidden;

  &.preload {
    height: 100%;
  }

  .languages {
    @include mui-text('body1');
    margin-left: 20px;
  }

  .body {
    width: 100%;
    height: calc(100% - 75px);
    overflow: hidden;
  }
}

.language {
  font-size: 14px !important;
}
