@import 'src/styles/modules/variables';

.filePicker {
  display: flex;
  flex-direction: column;
  background-color: $grey-1;
  max-width: 100%;
}

.filePickerPaperOverride {
  max-width: 100% !important;
  max-height: 100% !important;
  min-height: 411px;
  position: relative;
}

.filePickerBody {
  flex: 1;
  display: flex;
  padding: $file-picker-margin;
  overflow-y: auto;
}

.errorMessage {
  text-align: center;
  color: red;
}
