@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.filePickerBody {
    padding: 15px;
}

.filePickerTabs {
    border-bottom: 1px solid $grey-4;
}

.filePickerButtons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding: 0 15px 15px 15px;
}

.fileUploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $grey-1;
    border: 4px dashed $grey-4;
    min-height: 200px;
    input {
        display: none;
    }
}

.fileUploadIcon {
    color: #9a9a9a;
    @include mui-text('display2');
}

.fileUploaderSubtext {
    @include mui-text('subhead');
    margin-bottom: 15px;
}

.fileListItem {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.fileListItemText {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
    span {
        width: 100%;
        display: inline-block;
    }
}

.fileListItemNameText {
    @include mui-text('body1');
}

.fileListItemFileSizeText {
    @include mui-text('body1');
    color: $grey-5;
}

.fileListItemImage {
    width: 40px;
    height: 40px;
    margin: 4px;
    border-radius: 50%;
}

.fileListItemDeleteIcon {
    margin-left: auto;
}