@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

$file-picker-margin: 20px;

@mixin file-picker-round-image($size: 40px, $margin: 5px) {
    width: $size;
    height: $size;
    margin: $margin;
    border-radius: 50%;
}

.filePickerHeader {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding: $file-picker-margin $file-picker-margin 0 $file-picker-margin;
    span {
        @include mui-text('title');
        flex: auto;
    }
    > i {
        font-size: 24px;
        font-weight: 400;
        color: $grey-5;
    }
}

.filePickerBody {
    padding: $file-picker-margin;
}

.filePickerTabs {
    border-bottom: 1px solid $grey-4;
}

.filePickerButtons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding: 0 $file-picker-margin $file-picker-margin $file-picker-margin;
}

.fileUploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $grey-1;
    border: 4px dashed $grey-4;
    min-height: 200px;
    input {
        display: none;
    }
}

.fileUploadIcon {
    color: #9a9a9a;
    @include mui-text('display2');
}

.fileUploaderSubtext {
    @include mui-text('subhead');
    margin-bottom: $file-picker-margin;
}

.fileListItem {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.fileListItemText {
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
    padding: 4px;
    span {
        width: 100%;
        white-space:nowrap;
        display: inline-block;
    }
}

.fileListItemNameText {
    @include mui-text('body1');
}

.fileListItemFileSizeText {
    @include mui-text('body1');
    color: $grey-5;
}

.fileListItemImage {
    @include file-picker-round-image(40px, 4px);
    border-radius: 50%;
}

.fileListItemDeleteIcon {
    margin-left: auto;
}