.wrapper {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.colorContainer {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  align-items: flex-start;
}

.searchBarContainer {
  padding: 0 8px;
  height: 48px;
  display: flex;
  align-items: center;
}

.iconColor {
  color: #5f6368;
}

.input {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 8;
  font-size: 16px !important;
}

.clearButton {
  grid-column: 9;
}

.loadingIcon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
