@import '../../../styles/modules/variables';

.entityDialogPaper {
  min-width: 640px;
  width: 640px;
  overflow-y: visible !important;

  .dialogTitle {
    h2 {
      height: 28px;
      line-height: 28px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }

    h2 .dialogTitleLabel {
      color: rgba(0, 0, 0, 0.87);
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
    }

    .closeButton {
      height: 28px;
      width: 28px;
    }
  }

  .dialogHintText {
    height: 18px;
    color: rgba(0, 0, 0, 0.54);
    font-family: Roboto;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 25px;
  }

  .addEntityContent {
    overflow-x: hidden;

    &.negativeMargins {
      margin: 0 -24px -24px;
    }
  }
}

.entitySearchPaper {
  position: absolute;
  overflow-y: hidden;
  z-index: 1;

  .libraryMatchesTitle {
    font-size: 16px;
    font-weight: 500;
    padding: 20px 15px 10px;
    text-align: start;
  }

  .circularProgressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .entitySearchList {
    overflow-y: auto;

    .entityMenuItem {
      margin: 5px 0;

      .entityInfo {
        width: 160px;
        margin-left: 15px;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        color: $dark-black;

        .menuEntityName {
          width: 100%;
          height: 16px;
          font-size: 14px;
          color: $light-black;
          line-height: 16px;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .menuLibraryName {
          width: 100%;
          height: 14px;
          font-size: 12px;
          color: $light-black;
          line-height: 14px;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          display: flex;
          align-items: center;

          .unownedEntityIcon {
            width: 20px;
            height: 20px;
            margin-left: 5px;
          }
        }
      }
    }
  }

  .notFoundEntityMessage {
    width: 100%;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    margin: 12px 0;
    text-align: center;
  }
}

.unownedEntityTooltip {
  margin: 5px 0 !important;
}

.inputField {
  margin-top: 20px;
  color: $dark-black;
  font-size: 14px !important;
  line-height: 16px !important;

  input {
    font-family: Roboto;
    font-size: 14px;
  }

  label {
    color: $light-black;
    font-family: Roboto;
    transform: none;
    font-size: 12px;
    font-weight: 400;
  }
}

.entityInputLabel {
  font-size: 12px !important;
  line-height: 14px !important;
  transform: none !important;
  font-weight: 400;
}

.librarySelect {
  font-size: 14px !important;
}

.librarySelectMenuItem {
  font-size: 14px !important;
  line-height: 16px !important;
}

.requestError {
  padding: 0 16px;
}

.addEntityActions {
  padding: 16px 0 0 !important;

  .nextButton {
    min-width: 0 !important;
  }
}

.entityDialogButton {
  font-size: 14px !important;
  line-height: 16px !important;
  font-weight: 500 !important;
}

.menuEntityNameMatch {
  color: $dark-black;
  font-weight: bold;
}

.identifierSelector {
  background-color: #f5f5f5;
  padding: 20px 25px;
  overflow: hidden;
  position: relative;

  .identifierOverlay {
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 40px);
    background-color: rgba(245, 245, 245, 0.85);
    z-index: 1;
    font-size: 18px !important;
    line-height: 20px !important;
  }

  .warningIcon {
    width: 50px;
    height: 50px;
  }

  .warningText {
    font-size: 16px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    max-width: 80%;
  }

  .warningDescription {
    font-size: 14px !important;
    line-height: 18px !important;
    max-width: 80%;
    text-align: center;
  }

  .identifierSelectTitle {
    font-size: 16px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
  }

  .identifierSelectInfo {
    font-size: 14px !important;
    line-height: 18px !important;
    margin-top: 10px;
  }

  .selectAllCheckboxLabel {
    font-size: 14px !important;
    line-height: 16px !important;
  }

  .identifierImages {
    .imageGridItem {
      width: 98px;
      height: 98px;
      position: relative;
      padding-bottom: 10px;

      .identifierImage {
        width: 80px;
        height: 80px;
        position: absolute;
      }

      .selectFaceCheckboxBackground {
        margin-top: 7px;
        margin-left: 7px;
        width: 15px;
        height: 15px;
        position: absolute;
        background-color: white;
      }

      .selectFaceCheckbox {
        width: 30px !important;
        height: 30px !important;
        position: absolute !important;
      }
    }
  }
}

.identifierSelectActions {
  padding: 25px 20px 5px;

  .dontShowAgainCheckbox {
    margin-bottom: 0 !important;
  }

  .dontShowAgainLabel {
    font-size: 14px !important;
  }
}

.noLibraryImage {
  max-width: 100px;
  max-height: 100px;
}

.noLibraryText {
  color: $dark-black;
  font-size: 20px !important;
  font-weight: 300 !important;
  line-height: 24px !important;
  text-align: center;
}

.noLibrarySubText {
  color: $light-black;
  font-size: 14px !important;
  font-weight: 300 !important;
  line-height: 18px !important;
  margin-top: 5px;
  text-align: center;
}

.createLibrarySuccessIcon {
  width: 60px !important;
  height: 60px !important;
  color: $green-primary;
}

.createLibrarySuccess {
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  text-align: center;
}

.createLibrarySubText {
  font-size: 14px !important;
  line-height: 21px !important;
  margin-top: 5px;
  text-align: center;

  .libraryName {
    font-weight: 500 !important;
  }
}

.createEntityButton {
  margin-top: 40px !important;
}
