@import '../../../styles/modules/variables';

.editNewEntityDialogPaper {
  min-width: 640px;
  width: 640px;

  .dialogTitle {
    h2 {
      height: 28px;
      line-height: 28px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }

    h2 .dialogTitleLabel {
      color: rgba(0, 0, 0, 0.87);
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
    }

    .closeButton {
      height: 28px;
      width: 28px;
    }
  }

  .dialogHintText {
    height: 18px;
    color: rgba(0, 0, 0, 0.54);
    font-family: Roboto;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 30px;
  }

  .addEntityContent {
    overflow-x: hidden;
  }
}

.inputField {
  margin-top: 20px;
  color: $dark-black;
  font-size: 14px !important;
  line-height: 16px !important;

  input {
    font-family: Roboto;
    font-size: 14px;
  }

  label {
    color: $light-black;
    font-family: Roboto;
    transform: none;
    font-size: 12px;
    font-weight: 400;
  }
}

.entityInputLabel {
  font-size: 12px !important;
  line-height: 14px !important;
  transform: none !important;
  font-weight: 400;
}

.librarySelect {
  font-family: Roboto;
  font-size: 14px;
}

.librarySelectMenuItem {
  font-size: 14px !important;
  line-height: 16px !important;
}

.addEntityActions {
  padding: 16px 0 0 !important;
}
