@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.breadcrumb-container {
  display: flex;
  font-size: 1rem;
  align-items: center;
  border-radius: 2px;
  min-width: 300px;
  flex: auto;
}

.icon-color {
  color: $light-black;
}

.icon-spacer {
  margin-left: 10px;
}

.root-icon {
  color: $blue-1;
  font-size: 24px !important;
}

.crumb-item {
  padding: 0 8px !important;
  min-width: 0 !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $light-black;
  text-overflow: ellipsis;
  overflow-x: hidden;
  text-transform: none !important;
}

.font-icon {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  color: $light-black;
}
