:global(.video-react) {
  .mediaPlayButton:global(.video-react-big-play-button.video-react-big-play-button-center) {
    top: 50%;
    left: 50%;
    margin-left: -0.75em;
    margin-top: -0.75em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 1em;
    border: none;
  }
}

:global(.video-react) {
  &.mediaPlayerControls {
    font-family: Roboto, sans-serif;
    outline: none !important;
    background-color: black;
    :global(.video-react-control) {
      width: 3em;
    }

    :global(.video-react-time-control) {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    :global(.video-react-control-text),
    :global(.video-react-mouse-display),
    :global(.video-react-mouse-display::after),
    :global(.video-react-play-progress::after) {
      font-family: Roboto !important;
    }

    :global(.video-react-slider:focus) {
      text-shadow: none;
      box-shadow: none;
    }
  }
}
