.table-first-column--text {
  padding-left: 12px;
}

.table-first-column--folder {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}

.table-row-text {
  visibility: visible;
  position: absolute;
  line-height: 1.5;
  top: 0;
  padding: 15px 56px 15px 24px;
}
