.rectangle {
  display: flex;
  border: 1px solid #dadcdf;
  justify-content: space-between;
  border-radius: 2px;
  width: 100%;
  align-items: center;
  height: 38px;

  button {
    width: 38px;
    height: 38px;
  }
}

.coordinate {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  margin-left: 10px;
  vertical-align: middle;
}

.edit-coordinate {
  button {
    width: 38px;
    height: 38px;
  }

  .aoi-icon-button {
    padding: 0 !important;
  }
}

.flex-center {
  padding-left: 5px;
  display: flex;
  align-items: center;
}
