.root {
  flex-grow: 1;
  position: relative;
  z-index: 9;
  min-width: 870px;
}
.headerBar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}
.header {
  background-color: white;
  align-items: stretch !important;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 60px;
  min-height: 60px;
}

.searchBar {
  padding: 0 10px;
}

.headerUploadButton {
  margin-right: 20px !important;
}

.button {
  flex-basis: 108px !important;
}

.upload-button {
  border: 1px solid #2196f3 !important;
  border-radius: 1px !important;
  color: #2196f3 !important;
}

.back-button {
  color: rgba(0, 0, 0, 0.54) !important;
}

.icon-button {
  margin-right: 8px;
}

.icon {
  color: rgba(0, 0, 0, 0.26);
}

.divider {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.26);
  margin-top: 5px;
  margin-bottom: 5;
  align-self: stretch;
}

.button-group {
  display: flex;
  align-items: center;
}

.sort {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.view {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.spacer {
  width: 1rem;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
