.pdfPage {
  display: flex;
  justify-content: center;
  padding: 4px;
  background-color: gray;
}

.pdfHeader {
  height: 40px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
