@import 'src/styles/modules/variables';

.pdfViewer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 1px $faint-black;
}

.pdfViewerContainer {
  flex: 1;
}

// TODOJB on zoom out, need to center content
// with justify-content: center & zoomed in, canvas extends too far to the left
.pdfPage {
  display: flex;
}

//TODOJB on fullscreen, increase scale
:fullscreen .pdfPage {
  justify-content: center;
}

.toolbar {
  border-bottom: solid 1px $faint-black;
}
