@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

@mixin file-picker-round-image($size: 40px, $margin: 5px) {
  width: $size;
  height: $size;
  margin: $margin;
  border-radius: 50%;
}

.fileList {
  flex: 0 0 50%;
  position: relative;
  overflow-y: auto;
}

.fileListItem {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 50px;
}

.fileListItemImage {
  @include file-picker-round-image(40px, 4px);
}

.fileListItemFolderIcon {
  @include file-picker-round-image(40px, 4px);
  color: white;
  background-color: #b9b9b9;
  text-align: center;
  font-size: 25px;
  padding-top: 8px;
  padding-left: 4px;
}

.fileListItemText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding: 4px;

  span {
    width: 100%;
    white-space: nowrap;
    display: inline-block;
  }
}

.fileListItemNameText {
  @include mui-text('body1');
}

.fileListItemFileSizeText {
  @include mui-text('body1');
  color: $grey-5;
}

.fileListItemDeleteIcon {
  margin-left: auto;
}
