@import 'src/styles/modules/variables';

.bulkAddAffiliatesDialogPaper {
  min-width: 640px;
  width: 640px;
}

.dialogTitle {
  h2 {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px !important;
  }
}

.dialogContent {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.bulkAddHelperText {
  font-weight: normal;
  font-size: 14px;
  color: $light-black;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.actionButton {
  width: 200px;
  margin-left: 30px !important;
}

.actionButtonLabel {
  font-size: 14px;
  white-space: nowrap;
}
