@import 'src/styles/modules/variables';

.bulkAddAffiliatesDialogPaper {
  width: 640px;
  min-width: 640px;
}

.dialogTitle {
  h2 {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px !important;
  }
}

.dialogContent {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.bulkAddHelperText {
  font-weight: normal;
  font-size: 14px;
  color: $light-black;
  margin-bottom: 25px;
}

.progressSpinner {
  display: flex;
  align-self: center;
  height: 50px;
}

.parsingResultInfo {
  height: 50px;
  font-weight: 500;
  font-size: 14px;
}

.parsingErrorsSection {
  display: flex;
  flex-direction: column;
}

.parsingErrorsSectionLabel {
  font-size: 14px;
  font-weight: 500;
  color: $light-black;
  margin-bottom: 5px;
}

.parsingError {
  font-weight: 300;
  font-size: 13px;
  margin: 5px 10px;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.actionButton {
  width: 200px;
  margin-left: 30px !important;
}

.actionButtonLabel {
  font-size: 14px;
  white-space: nowrap;
}
