@import 'src/styles/modules/variables';

.filePickerFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  padding: 4px $file-picker-margin $file-picker-margin $file-picker-margin;
  background-color: $grey-1;
}
