@import 'src/styles/modules/variables';

.filePickerFooter {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: $file-picker-margin;
  background-color: $grey-1;
  & > * {
    margin-left: calc(#{$file-picker-margin} / 2) !important;
  }
}
