@import 'src/styles/modules/variables';

.errorSegment{
  width: 100%;
  font-weight: 300;
  border: 2px dashed $grey-4;
  clear: both;

  & > div {
    margin-top: 20px;
    text-align: center;
  }

  & > div:last-child {
    margin-bottom: 20px;
  }
  
  .time{
    font-size: 16px;
    color: $light-black;
  }

  .message{
    font-size: 20px;
    color: $red500;
  }
}