.timeSearchConfigContent {
  display: flex;
  flex-direction: column;

  h4,
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.timeSelectSection {
  display: flex;
  flex-direction: row;
  flex: 45%;

  .timeInputSection {
    flex: 50%;
    padding-right: 2em;
  }
}

.dayOfWeekConfig {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.dayOfWeekSelection {
  display: flex;
  flex-direction: row;
}

.stationSwitchSection {
  flex: 55%;

  p {
    margin-top: 0;
  }
}
