@import '../veritone-react-common/src/styles/modules/variables';

.popperContent {
  z-index: 1;
}

.mediaDetailsPageContent {
  width: 100% !important;
  height: 100% !important;
  min-height: 400px;
  position: relative;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  flex: auto;
  z-index: auto;

  .headerMenuItem {
    color: $dark-black !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    line-height: 16px !important;
  }

  .pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252c3b;
    height: 55px;
    width: 100%;

    .pageHeaderTitleLabel {
      height: 24px;
      color: #fff;
      font-size: 20px;
      line-height: 24px;
      margin-left: 20px;
    }

    .pageHeaderActionButtons {
      display: flex;
      align-items: center;

      .pageHeaderActionButton {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.54);
      }

      .pageHeaderActionButtonsSeparator {
        height: 27px;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.54);
        margin: 0 5px 0 10px;
      }

      .pageCloseButton {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.54);
        margin-right: 5px;
      }
    }
  }

  .tdoLoadingProgress {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .widgetErrorContainer {
    display: flex;
    justify-content: center;
    margin-top: 100px;

    .widgetError {
      display: flex;
      flex-direction: column;

      .errorImage {
        align-self: center;
        height: 110px;
        width: 130px;
      }

      .errorMessage {
        align-self: center;
        font-size: 24px;
        margin-top: 30px;
      }
    }
  }

  .mediaDetailsPageTabSelector {
    background-color: #252c3b;
    height: 55px;
    width: 100%;

    .pageTabLabel {
      height: 55px;
      color: #fff;

      span {
        font-size: 14px;
      }
    }
  }

  .engineActionHeader {
    height: 54px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .engineCategorySelector {
      margin-left: 20px;
      align-self: flex-end;
    }

    .toEditModeButton {
      align-self: center;
      height: 36px;
      margin-right: 20px;
    }
  }

  .pageHeaderEditMode {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;

    .pageHeaderTitleLabelEditMode {
      height: 24px;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.87);
      text-transform: capitalize;
    }

    .backButtonEditMode {
      font-size: 24px;
      margin: 0 15px;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .pageSubHeaderEditMode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #e0e0e0;

    .editCategoryHelperMessage {
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
      line-height: 18px;
      margin-left: 80px;
    }

    .actionButtonsEditMode {
      display: flex;
      align-items: center;

      button {
        height: 36px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .actionButtonEditMode {
        width: 88px;
        margin-right: 20px;
      }
    }
  }

  .actionButtonsEditMode {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 80px 15px 0;
    border-right: 1px solid $grey-4;

    button {
      height: 36px;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }

    .actionButtonEditMode {
      width: 108px;
      margin-right: 20px;
    }
  }

  .mediaScreen {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex: auto;

    .mediaView {
      flex: auto;

      .sourceLabel {
        color: rgba(0, 0, 0, 0.54);
        font-size: 12px;
        line-height: 14px;
        margin-top: 5px;
      }
    }

    .engineCategoryView {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      width: calc(100% - 480px);
      flex: auto;

      .sentimentChartViewRoot {
        height: 340px;
        width: 100%;
      }
    }
  }

  .metadataSidePanel {
    width: 360px;
  }
}

.tooltipPlacementBottom {
  margin: 5px 0;
  color: red;
}

.tabIndicator {
  background-color: #f9a02c !important;
}

.snackbarMessageText {
  font-size: 14px;
}

.errorSnackbar {
  background-color: $red500 !important;
}

.resetOriginalDialogTitle {
  padding: 13px 24px 15px;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 28px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .closeResetOriginalDialogButton {
    margin-right: -15px;
  }
}

.resetOriginalDialogPaper {
  width: 600px;
}

.resetOriginalDialogDescription {
  font-size: 15px !important;
  line-height: 24px !important;
  color: $dark-black !important;
}

.resetOriginalDialogActions {
  padding: 0 20px 5px 0;
  margin: 8px 0 !important;

  .resetOriginalDialogButton {
    width: 100px;
    margin: 0 0 0 15px;
  }
}

.errSnackBar > div {
  background-color: rgba(255, 0, 0, 0.918)
}

.successSnackBar > div {
  background-color: rgba(0, 128, 0, 0.918)
}
