.mediaDetailsPageContent {
  width: 100% !important;
  height: 100% !important;
  min-height: 400px;
  position: relative;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  flex: auto;

  .pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252c3b;
    height: 55px;
    width: 100%;

    .pageHeaderTitleLabel {
      height: 24px;
      color: #fff;
      font-size: 20px;
      line-height: 24px;
      margin-left: 20px;
    }

    .pageHeaderActionButtons {
      display: flex;
      align-items: center;

      .pageHeaderActionButton {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.54);
      }

      .pageHeaderActionButtonsSeparator {
        height: 27px;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.54);
        margin: 0 5px 0 10px;
      }

      .pageCloseButton {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.54);
        margin-right: 5px;
      }
    }
  }

  .mediaDetailsPageTabSelector {
    background-color: #252c3b;
    height: 55px;
    width: 100%;

    .pageTabLabel {
      height: 55px;
      color: #fff;

      span {
        font-size: 14px;
      }
    }
  }

  .engineActionHeader {
    height: 48px;
    border-bottom: 1px solid #e0e0e0;

    .engineActionContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 48px;

      .engineCategorySelector {
        margin-left: 20px;
      }

      .toEditModeButton {
        text-transform: uppercase;
        background-color: #2196f3;
        color: #fff;
        height: 36px;
        border-radius: 3px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12),
          0 2px 2px 0 rgba(0, 0, 0, 0.24);
        margin-right: 20px;
      }
    }
  }

  .pageHeaderEditMode {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;

    .pageHeaderTitleLabelEditMode {
      height: 24px;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.87);
      text-transform: capitalize;
    }

    .backButtonEditMode {
      height: 20px;
      width: 20px;
      font-size: 24px;
      margin: 0 30px;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .pageSubHeaderEditMode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #e0e0e0;

    .editCategoryHelperMessage {
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
      line-height: 18px;
      margin-left: 80px;
    }

    .actionButtonsEditMode {
      display: flex;
      align-items: center;

      button {
        height: 36px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .runProcessButtonEditMode {
        color: #2196f3;
        margin-right: 20px;

        .iconClass {
          font-size: 20px;
          margin-right: 10px;
        }
      }

      .actionButtonEditMode {
        width: 88px;
        margin-right: 20px;
      }

      .actionButtonsSeparatorEditMode {
        height: 32px;
        width: 2px;
        background-color: #e0e0e0;
        margin-right: 20px;
      }
    }
  }

  .mediaScreen {
    margin: 20px;
    display: flex;
    flex-direction: row;

    .mediaView {
      width: 450px;

      .videoPlayer {
        .mediaPlayButton {
          margin-left: -1.5em;
          height: 1.5em;
          width: 1.5em;
          border-radius: 1em;
          border: none;
        }
      }

      .sourceLabel {
        color: rgba(0, 0, 0, 0.54);
        font-size: 12px;
        line-height: 14px;
        margin-top: 5px;
      }
    }

    .engineCategoryView {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      width: calc(100% - 480px);
      flex: auto;

      .sentimentChartViewRoot {
        height: 340px;
        width: 100%;
      }
    }
  }

  .metadataSidePanel {
    width: 360px;
  }
}
