@import 'node_modules/veritone-react-common/src/styles/modules/_muiTypography';
@import 'node_modules/veritone-react-common/src/styles/modules/_variables';

.engineSelection {
  display: flex;
  height: 100%;
  background-color: white;
}

.engineSelectionContent {
  height: 100%;
  flex-grow: 1;
  background: white;
}

.engineListContainer {
  height: 100%;
  flex-direction: column;
  display: flex;
  background: white;
  padding: 0 20px;
  min-height: 500px;
}

.engineList {
  flex-grow: 1;
}

.tabs {
  @include mui-text('body1');
  display: inline-flex;
  width: 100%;
  height: 49px;
  padding: 0 30px;
  color: $light-black;
  border-bottom: 1px solid $grey-4;
}

.tab {
  color: $dark-black !important;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 30px 50px;
  margin-bottom: auto;
}

.footerBtn {
  font-weight: 500;
}
