@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.engineSelection {
  display: flex;
}

.engineSelectionContent {
  flex-grow: 1;
}

.engineListContainer {
  height: calc(100vh - 65px);
  padding: 0 20px;
  flex-direction: column;
  display: flex;
}

.engineList {
  flex-grow: 1;
}

.tabs {
  @include mui-text('body1');
  display: inline-flex;
  width: 100%;
  height: 49px;
  padding: 0 30px;
  color: $light-black;
  border-bottom: 1px solid $grey-4;
}

.tab {
  color: $dark-black !important;
}

.noEnabledEngines {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 130px 0;
}

.noEnabledEnginesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 228px;
  width: 715px;
  border: 2px dashed $faint-black;
}

.noEnabledEnginesIcon {
  $dimensions: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $dimensions;
  width: $dimensions;
  border-radius: 50%;
  border: 2px dashed $faint-black;
  margin-top: -($dimensions/2);
  margin-bottom: 34px;
  background: $fullWhite;

  > i {
    font-size: 42px;
    color: $min-black;
  }
}

.noEnabledEnginesText {
  font-size: 28px;
  font-weight: 300;
  color: $light-black;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
  margin-bottom: auto;
}

.isFetching {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.noResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > i {
    @include mui-text('display2');
    color: $min-black;
  }
}

.noResultsMessage {
  @include mui-text('subhead');
  font-weight: 500 !important;
  color: $min-black;
}
