.folder-name-field {
  padding-bottom: 20px !important;
}
.action-new-field{
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.dialog-content{
  overflow: hidden !important;
}
.folder-tree-card {
  overflow: auto !important;
  max-height: 350px;
}
.button-styles {
  padding: 6px 16px !important;
}
