@import 'src/styles/modules/variables';

.listContainer {
  // width: 389px;
  width: 25%;
  height: 85vh;
  border-right: 6px solid $grey-2;
  // padding-left: 20px;

  .title {
    color: $dark-black;
    font-size: 20px;
    line-height: 24px;
    padding-left: 20px;
    padding-top: 20px;
  }

  .description {
    color: $light-black;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 30px;
  }

  .templateRow {
    height: 40px;
    width: 100%;
    padding-left: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .name {
      color: $dark-black;
      font-size: 14px;
      line-height: 16px;
    }

    .trashIcon {
      height: 18px;
      margin-right: 20px;
    }

    &:hover {
      background-color: $grey-2;
    }
  }
}
