@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.urlUploader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.urlTextField {
  @include mui-text('menu');
  margin-top: 0;
  margin-bottom: 5px;
  display: inline-block !important;

  .fileUrlInputError {
    color: #ff1744 !important;
  }

  .fileUrlInputFocused {
    color: $blue-1;
  }

  .fileUrlInputInkbar {
    background-color: $blue-1;
  }

  .fileUrlInputInkbarError {
    background-color: #ff1744;
  }
}

.fileUrlPickerInputRoot {
  width: 90%;
  margin-top: 13px !important;
}

.fileUlrPickerInput {
  padding: 5px 0;
}

.urlUploaderInfoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $grey-1;
  border: 4px dashed $grey-4;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 3px;
  width: 100%;
  flex: auto;
  text-align: center;
}

.correctUrlText {
  @include mui-text('body1');
  margin-bottom: 15px;
}

.confirmLicenseText {
  @include mui-text('caption');
  color: $grey-5;
}

.imageContainer {
  display: flex;
  margin-top: 3px;
  padding: 10px;
  background-color: #777;
}

.fileImage {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  img {
    align-self: center;
    width: auto;
    height: 100%;
    display: block;
  }
}
