.tableTitleRow {
  height: 62px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 20px;

  .titleTextGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .imageStyle {
      align-self: center;
      margin-right: 17px;
    }

    .mainColumn {
      height: 14px;
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      align-self: center;
      width: 40%;
      padding-right: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .tableTitle {
      height: 14px;
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      align-self: center;
      width: 20%;
      padding-right: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
