@import 'src/styles/modules/variables';

.aclGroupsContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.titleLabelSection {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.titleLabel {
  font-weight: normal;
  font-size: 16px !important;
  color: $dark-black;
}

.titleDescription {
  font-weight: normal;
  font-size: 14px !important;
  color: $light-black;
  margin: 8px 0;
}

.addAclGroupsButton {
  margin-left: 10px;
}

.addAclGroupsButtonLabel {
  white-space: nowrap;
}

.aclsListSection {
  display: flex;
  flex-direction: column;
}

.aclsListHelperText {
  font-weight: normal;
  font-size: 12px;
  color: $dark-black;
  margin: 10px 0;
}

.aclRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 24px;
  border-bottom: 1px solid $faint-black;
  margin-bottom: 5px;
}

.aclRowLabel {
  font-weight: normal;
  font-size: 16px !important;
  color: $dark-black;
}

.aclRowDeleteIcon {
  margin-right: 10px;
}
