@import 'node_modules/veritone-react-common/src/styles/modules/_muiTypography';
@import 'node_modules/veritone-react-common/src/styles/modules/_variables';

.selectBar {
  $height: 73px;
  @include mui-text('body1');
  display: flex;
  align-items: center;
  color: $light-black;
  padding: 15px 0 10px 5px;
  min-height: $height;
  max-height: $height;
}

.selectBarIcons {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  padding: 0 20px;
}

.searchBar {
  width: 285px;
}

.searchBarIcon {
  $iconSize: 22px !important;
  height: $iconSize;
  width: $iconSize;
  vertical-align: bottom;
}

.searchBarInput {
  @include mui-text('body1');
}

.searchBarUnderline {
  &:before {
    height: 1px !important;
  }
  &:after {
    background-color: $blue-1 !important;
  }
}
