@import 'src/styles/modules/variables';

.facesByScene {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.recognizedMatchBox {
  border: 1px solid $grey-4;
  margin: 0 20px 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.entityImage {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background-color: $grey-4;
}

.entityFullName {
  font-size: 12px;
}

.timeSlotConfidence {
  text-align: center;
  height: 24px;
  color: white;
  line-height: 24px;
  font-size: 14px;
  border-radius: 4px;
  padding: 0 5px;
  margin-bottom: 10px;

  &.greenBackground {
    background-color: #78c61e;
  }

  &.orangeBackground {
    background-color: #f5a623;
  }
}

.viewDetailsLink {
  font-size: 12px;
  color: $blue-1;
  cursor: pointer;
}
