@import 'src/styles/modules/muiTypography';

.structuredDataOutputView {
  .schemaMenu {
    @include mui-text('body1');
    margin-left: 20px;
  }
  overflow-y: hidden;
  height: calc(100% - 20px);
}

.schemaMenuItem {
  font-size: 14px !important;
}

.sdoTableContainer {
  padding: 3px;
  overflow-y: scroll;
  height: calc(100% - 70px);
}
