@import 'src/styles/modules/muiTypography';

.structuredDataOutputView {
  .schemaMenu {
    @include mui-text('body1');
    max-width: 150px;
    margin-left: 20px;
  }
}

.schemaMenuItem {
  font-size: 14px !important;
}
