@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.transcriptOutput {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: $min-black;

  .controllers {
    width: 100%;
    font-size: 14px;

    .radioButtonGroup {
      @include mui-text('body1');
      float: left;
    }

    .radioLabel {
      @include mui-text('body1');
    }

    .radioLabelRoot {
      margin-bottom: 0;
      margin-right: 30px;
    }

    .radioRoot {
      svg {
        font-size: 20px;
      }
    }

    .outputHeaderSelect {
      @include mui-text('body1');
      margin-left: 20px;
      float: right;
    }
  }

  .content {
    flex: auto;
    clear: both;
    width: 100%;
    height: calc(100% - 75px);
  }
}

.selectMenuItem {
  font-size: 14px !important;

  &.menuItemInset {
    margin-left: 40px;
  }
}

.restoreOriginalMenuItem {
  padding: 0 !important;
}

.userEditListItemIcon {
  margin-right: 0 !important;
}
