@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.resetButtonStyles {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;

  &:focus {
    //outline: 0;
  }
}

.button {
  @include mui-text('button');
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: $blue-1;
  border-radius: 2px;
  padding: 8px 20px;

  img {
    height: 20px;
  }

  .textContainer {
    padding-left: 8px;
  }
}
