@import 'src/styles/modules/variables';

.step {
  svg {
    height: 30px !important;
    width: 30px !important;
    font-weight: 400;
  }

  &-content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-optional {
    font-size: 12px;
    font-weight: normal;
    margin-top: 2px;
    color: rgba(0, 0, 0, 0.26);
  }
}
