@import 'src/styles/modules/variables';
.mediaPlayer {
  font-size: 12px !important;
  font-family: Roboto, sans-serif;
  outline: none !important;
}

.mediaPlayButton {
  border-radius: 1em !important;
  border: none !important;
}

.hiddenDummyControls {
  display: none !important;
}

:global {
  .video-react-control {
    width: 3em;
  }
  .video-react-time-control {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .video-react-control-text,
  .video-react-mouse-display,
  .video-react-play-progress::after {
    font-family: Roboto, sans-serif !important;
  }

  .video-react-slider:focus {
    text-shadow: none;
    box-shadow: none;
  }
}

.popupContainer {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  background-color: $dark-black;
  > div:first-child {
    display: contents;
  }

  > .liveLabel {
    top: 20px;
    left: 20px;
    position: absolute;
    border-radius: 3px;
    padding: 1px 8px;
    font-size: 12px;
    color: $fullWhite;
    pointer-events: none;
    background-color: $red500;
  }

  > .closeButton {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}