:global(.video-react) {
  :global(.video-react-control-bar).mediaPlayerControls {
    position: relative !important;
  }
  .mediaPlayerControls {
    font-family: Roboto, sans-serif;
    outline: none !important;
    :global(.video-react-control) {
      width: 3em;
    }

    :global(.video-react-time-control) {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    :global(.video-react-control-text),
    :global(.video-react-mouse-display),
    :global(.video-react-mouse-display::after),
    :global(.video-react-play-progress::after) {
      font-family: Roboto !important;
    }

    :global(.video-react-slider:focus) {
      text-shadow: none;
      box-shadow: none;
    }
  }
}

.externalStyles {
  top: unset !important;
  bottom: unset !important;
  position: static !important;
}
