.mediaPlayer {
  font-size: 12px !important;
  font-family: Roboto, sans-serif;
  outline: none !important;
}

.mediaPlayButton {
  border-radius: 1em !important;
  border: none !important;
}

.hiddenDummyControls {
  display: none !important;
}

:global {
  .video-react-control {
    width: 3em;
  }
  .video-react-time-control {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .video-react-control-text,
  .video-react-mouse-display,
  .video-react-play-progress::after {
    font-family: Roboto, sans-serif !important;
  }

  .video-react-slider:focus {
    text-shadow: none;
    box-shadow: none;
  }
}
