:global {
  $video-react-big-play-button-width: 1.5em;
  $video-react-big-play-button-height: 1.5em;
  $video-react-text-font-family: Roboto, Times, 'Times New Roman';
  @import '~video-react/styles/scss/video-react.scss';
}
