@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.null-state-card {
  width: 350px;
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.null-card-content {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 0 !important;
}

.img-wrapper {
  text-align: center;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card-title {
    @include mui-text('title');

    color: $dark-black;
    margin-top: 20px;
  }
}

.card-desc-text {
  @include mui-text('body1');

  color: $light-black;
  text-align: center;
  flex: 0.75;
}
