@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 100%;
  width: 359px;
  color: $light-black;
  background-color: $grey-1;
}

.buttonContainer {
  min-height:66px;
  justify-content: flex-end;
  width: 100%;
  display: flex;
  border-top: 1px solid #DCDCDC;
  padding-top: 16px;

  > button {
    margin: 0 auto;
  }
}
