@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.container {
  width: 100%;
  padding: 15px;

  border-bottom: 1px solid $grey-4;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  @include mui-text('body1');
}

.clearLink {
  @include mui-text('caption');
  text-decoration: none;
}

.filtersContainer {
  @include mui-text('body1');

  .filterItem {
    display: flex;
    align-items: center;
    padding-top: 5px;
  }

  .clearButton {
    height: 14px;
    width: 14px;
    background-color: $blue-1;

    svg {
      color: white;
      height: 12px;
      width: 12px;
    }
  }

  .filterItemLink {
    padding-left: 5px;
  }
}
