@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

.tabsContainer {
  width: 100%;
}

.sectionTreeTab {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid $grey-4 !important;
  background-color: $grey-1 !important;

  &.dark {
    background-color: $grey-2 !important;
  }

  .muiButtonLabelOverride {
    display: inline-flex;
    justify-content: flex-start;

    .label {
      flex-grow: 1;
      text-align: left;
    }

    .leftIcon {
      margin-right: 15px;
    }

    .rightIcon {
      justify-self: flex-end;
    }
  }
}

