.data-picker-container {
    display: flex;
}
.data-picker-content-container {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    width: 870px;
}
.data-picker-error-snack {
  background-color: #d32f2f !important;
}
