@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';


.datasetLibraryWidget {
  .closeWidgetButton{
    top: 0;
    right: 0;
    position: absolute;
    color: $light-black;
  }
  .title {
    font-size: 20px;
  }
  .content {
    margin: 0;
    width: 600px;
    position: relative;

    .addTdoPanel {
      height: 300px;
    }

    .snackbar{
      bottom: 0;
      position: absolute;
      .content {
        background-color: #d32f2f;
        .message {
          display: flex;
          align-items: center;
        }
        .statusIcon {
          font-size: 20px;
          margin-right: 10px;
        }
      }
    }
  }
  .progress {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #FFF, $alpha: 0.8);
  }
}
