@import 'src/styles/modules/muiTypography';

.fullScreenTopBar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .topBarTitle {
    @include mui-text('title');

    align-self: center;
  }

  .iconGroup {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
}

.separator {
  align-self: center;
  border-right: 1px solid;
  height: 27px;
  margin: 0 10px;
}
