@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.modalHeader {
  background-color: #1f2532;

  span {
    color: $grey-1;
  }
}

.fullScreenTopBar {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .topBarTitle {
    @include mui-text('title');

    color: $grey-1;
    align-self: center;
  }

  .iconGroup {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
}

.icon {
  color: $fullWhite;
}
