@import 'src/styles/modules/variables';

.affiliateContainer {
  height: 75px;
  width: 250px;
  background-color: $barely-black;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  font-weight: 500;
  font-size: 14px;
  color: $dark-black;
  margin-top: 15px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actionButton {
  height: 24px !important;
  width: 24px !important;
  margin-top: 10px !important;
  margin-left: 5px !important;
}

.actionButtonIcon {
  font-size: 16px !important;
}

.schedule {
  font-weight: normal;
  font-size: 14px;
  color: $light-black;
  margin-top: 10px;
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
