.rangeInput {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: 400px;
}

.renderTrack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  margin-top: 5px;
}

.renderThum {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #4285f4;
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: 0px 2px 6px #AAA;
}

.trackLine {
  height: 3px;
  width: 100%;
  border-radius: 4px;
  align-self: center;
}

.value-min {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  margin-right: 15px;
  box-shadow: 0 1px 1px #ddd;
}

.value-max {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  margin-left: 15px;
  box-shadow: 0 1px 1px #ddd;
}
