.loading-container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
}

.table-container {
  padding-top: 48px;
  position: relative;
  width: 100%;
}

.table-row-text {
  visibility: visible;
  position: absolute;
  line-height: 1.5;
  top: 0;
  padding: 15px 56px 15px 24px;
}

.table-first-column--text {
  padding-left: 12px;
}

.table-first-column--folder {
  color: rgba(0,0,0,0.87);
  font-weight: 500;
}
