@import 'src/styles/modules/_variables';

.loadingContainer {
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 9999;
  min-height: 80px;
}

.selected {
  background-color: $light-blue;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.rootfolder {
  &:hover {
    background-color: $grey-3;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

.error {
  color: $red500;
}

.dialogTitle {
  padding: 24px 24px 5px !important;
}

.dialogSubTitle {
  padding: 0 24px 20px !important;
}

.dialogContent {
  border: 2px solid $grey-2;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0 !important;
}

.closeIcon {
  font-size: 30px !important;
  margin-right: 20px;
  margin-top: 20px;
  color: $grey-6;
}

.workIcon {
  font-size: 30px !important;
  margin: 10px;
  color: $grey-6;
}

.saveText {
  color: $blue-1 !important;
  padding-left: 30px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  text-transform: uppercase;
}

.button {
  min-height: 50px !important;
}

.buttonNewFolder {
  border: 1px solid $blue-1 !important;
}

.buttonSelect {
  background-color: $blue-1 !important;
  margin-left: 5px !important;
  &:hover {
    background-color: $blue-2 !important;
  }
}

.newFolderButton {
  color: $blue-1 !important;
  font-size: 18px !important;
  font-weight: bold !important;
  text-transform: none !important;
}

.cancelButton {
  font-size: 18px !important;
  font-weight: bold !important;
  text-transform: none !important;
  color: $grey-6 !important;
}

.selectButton {
  font-size: 18px !important;
  font-weight: bold !important;
  text-transform: none !important;
  color: $fullWhite !important;
}

.folder {
  height: 50px;
  display: flex;
  align-items: center;
  color: $grey-6;
}

.collapsibleFolderIcon {
  font-size: 30px !important;
  color: $grey-6;
}

.folderIcon {
  font-size: 30px !important;
  color: $grey-6 !important;
  margin-left: 30px;
}

.folderName {
  font-weight: 600;
  color: $grey-6;
  padding-left: 10px;
}

.folderNameSelected {
  color: $blue-1;
}

.folderPicker ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.folderPicker li {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.folderPicker li > div:hover {
  background-color: $grey-3;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.folderPicker li div:first-child {
  padding-left: 24px;
  overflow: hidden;
}

.folderPicker li li div:first-child {
  padding-left: 48px;
  overflow: hidden;
}

.folderPicker li li li div:first-child {
  padding-left: 72px;
  overflow: hidden;
}

.folderPicker li li li li div:first-child {
  padding-left: 96px;
  overflow: hidden;
}

.folderPicker li li li li li div:first-child {
  padding-left: 120px;
  overflow: hidden;
}

.folderPicker li li li li li li div:first-child {
  padding-left: 144px;
}
