@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.entityInformation {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .entityBackButtonContainer {
    flex: none;

    .entityBackButton {
      padding-left: 0 !important;

      .entityBackIcon {
        margin-right: 5px;
      }

      .entityBackLabel {
        font-weight: 500;
        line-height: 19px;
        font-size: 16px;
      }
    }
  }

  .selectedEntity {
    flex: none;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
  }

  .entityProfileImage {
    width: 80px;
    height: 80px;
    flex: none;
    background-color: $grey-4;
  }

  .selectedEntityInfo {
    padding-left: 15px;

    .entityNameAndCount {
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .libraryName {
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
    }

    i {
      font-size: 16px;
      color: $light-black;
    }
  }

  .infoTab {
    @include mui-text('button');
    text-transform: none !important;
  }

  .selectedEntityTabs {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .tabContainer {
      overflow-y: auto;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }
  }

  .metadataLabel {
    font-size: 12px;
    line-height: 16px;
    color: $min-black;
  }

  .metadataValue {
    font-size: 14px;
    line-height: 21px;
  }

  .entityJson {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .jsondataItem {
    padding-bottom: 20px;
  }
}
