@import 'src/styles/modules/variables';

.sentimentOutput {
  .sentimentOutputContent {
    padding-top: 20px;

    .summary {
      float: right;

      &.positive {
        color: $greenA700;
      }

      &.negative {
        color: $red500;
      }
    }

    .sentimentBody {
      clear: both;
      width: calc(100% + 15px);
      height: 100%;
      min-height: 300px;
      margin-left: -15px;

      .yAxis {
        width: 60px;
        height: 100%;
        float: left;
      }

      .content {
        float: left;
        width: calc(100% - 60px);
        height: 100%;
        overflow-x: auto;
        overflow-y: hidden;
      }
    }
  }
}
