@import 'src/styles/modules/variables';

.condensedButton {
  padding-left: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: $barely-black !important;

  &:hover:not([disabled]):not(.selected) {
    background-color: rgba(33, 150, 243, 0.1) !important;
  }
}

.selected {
  border-color: $blue400 !important;
  background-color: rgba(33, 150, 243, 0.18) !important;

  &:hover {
    background-color: none !important;
  }
}

.condensed {
  height: 1.7em !important;
}
