.btn-container {
  position: absolute;
  width: 96%;
  display: flex;
  justify-content: flex-end;
  margin-top: -50px;
}

.form-content-templates {
  height: calc(100% - 110px); // Account for header height
}
