.dynamicFormStyle {
  width: 100%;

  .inputLabel {
    font-size: 12px;
    line-height: 14px;
    position: inherit;
  }
  .textField {
    margin-top: 30px;
  }
  .selectField {
    margin-top: inherit;
  }
  .sourceTypeNameLabel {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    line-height: 14px;
  }
  .sourceTypeNameContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    .sourceTypeName {
      color: rgba(0, 0, 0, 0.87);
      font-size: 14px;
      line-height: 16px;
    }
    .sourceTypeNameTooltip {
      color: #2196f3;
      font-size: 10px;
      line-height: 11px;
      margin-left: 30px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
