.fullPage {
  height: 100%;
  width: 100%;
  margin-top: 30px;
  margin-left: 30px;

  .configurationTitle {
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
    line-height: 24px;
  }
  .configurationDescription {
    opacity: 0.6;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    line-height: 16px;
  }

  .sourceConfiguration {
    color: blue;
    .formStyle {
      width: 60%;
      min-width: 350px;

      .imageStyle {

      }
      .sourceName {
        margin-bottom: 30px;
      }
    }
    
  }

  .buttonStyle {
    width: fit-content;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}