@import 'src/styles/modules/muiTypography';
@import 'src/styles/modules/variables';

$avatar-size: 70px;

.configuration-container {
  height: 100%;
  width: 60%;
  padding: 30px;

  .configurationTitle {
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
    line-height: 24px;
  }

  .configurationDescription {
    opacity: 0.6;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    line-height: 16px;
  }

  .sourceConfiguration {
    .formStyle {
      width: 80%;
      min-width: 350px;

      .container {
        flex-direction: row;
        align-items: center;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        margin-top: 20px;

        .sourceName {
          margin-left: 20px;
          margin-bottom: 30px;
        }
      }
    }
  }

  .avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
  }

  .avatar-img-container {
    width: $avatar-size;
    height: $avatar-size;
  }

  .avatar-img {
    height: 100%;
    border-radius: 50%;
  }

  .avatar-img-cta {
    @include mui-text('caption');
    position: absolute;
    top: 5px;
    width: $avatar-size + 10;
    height: $avatar-size;
    border-radius: 50%;
    background: linear-gradient(
      to top,
      $light-black 30%,
      transparent 30%,
      transparent 100%
    );
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $grey-1;
    text-transform: uppercase;
    padding-bottom: 5px;

    span {
      cursor: pointer;
    }
  }
}
