.logoDetection {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .logoContent {
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
    height: calc(100vh - 250px);
    padding-bottom: 25px;
  }
}
