.folder-name-field {
  padding-bottom: 20px !important;
}
.action-new-field {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.dialog-content {
  overflow: hidden !important;
}
.folder-tree-card {
  overflow: auto !important;
  max-height: 350px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}
.button-styles {
  padding: 6px 16px !important;
}
