.rowLoader {
  height: 100% !important;
  width: 100% !important;
  text-align: center;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.firstLoader {
  width: 100%;
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 0.5em;
}

.infinitePickerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.errorMessage {
  display: table-row !important;
  text-align: center;
}

.rowLoaderSpinner {
  width: 100% !important;
  border: 0 !important;
  text-align: center !important;
}

.infiniteScrollContainer {
  flex-grow: 1 !important;
  height: calc(100% - 2em);
  overflow-y: auto;
  display: block !important;
}

.infiniteScrollHeader {
  width: 100% !important;
  display: block !important;
  margin-bottom: 1px;
}

.pickerTitle {
  display: flex;
  padding: 24px 0 12px 24px;
}

.pickerTitleContainer {
  width: 50%;
  display: flex;
  align-items: center;
}

.pickerSearchContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tableContainer {
  width: 100% !important;
  flex-grow: 1 !important;
  height: 100% !important;
  overflow-y: auto;
}

.table {
  width: 100%;
}

.alignRight {
  text-align: right !important;
  margin-right: 2em;
}

.selected {
  background-color: rgba(33, 150, 243, 0.6);
}

.textSpace {
  margin-right: 0.1em !important;
}

.textLineHeight {
  line-height: 2.1 !important;
}
