@import 'src/styles/modules/variables';

.nullStateView {
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .titleText {
    color: $dark-black;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .buttonStyle {
    margin-top: 20px;
    width: fit-content;
    height: 36px;
  }
}

.inWidgetView {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;

  .titleText {
    color: $dark-black;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .buttonStyle {
    margin-top: 20px;
    width: fit-content;
    height: 36px;
  }
}
