@import '../../styles/modules/variables';

.searchBar {
  width: 100%;
  height: 45px;
  background-color: white;
  display: flex;
  align-items: center;
  //border-radius: 4px;
}

.searchBarContainer {
  margin-left: 1em;
  margin-right: 1em;
}

.supportedCategories {
  display: flex;
  margin-right: 0.25em;
  margin-left: 0.25em;
  height: 38px;
}

.searchInput {
  flex-grow: 1;
  cursor: text;
  padding-left: 0.25em;
  padding-right: 0.25em;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  height: 100%;
}

.engineCategoryModal {
  background-color: #f8f8f8 !important;
}

.selectedPill {
  background-color: $dark-black !important;
}

.selectedPillLabel {
  padding-left: 0 !important;
  color: white !important;
}

.engineCategoryPill {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  color: $light-black;
  border-radius: 4px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.engineCategoryIcon {
  svg {
    color: #222 !important;
  }
}

.searchPill {
  height: 1.8em !important;
  margin-right: 3px;
  margin-left: 3px;
  font-weight: normal !important;
  background-color: #e4f2fd !important;

  & .deleteIcon {
    height: 65%;
  }
}

.excludePill {
  background-color: #ffc !important;
}

.searchPill:hover:not(.highlighted) {
  background-color: #eee !important;
}

.searchPill:focus:not(.highlighted) {
  background-color: #eee !important;
}

.highlighted {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.highlighted:hover {
  background-color: rgba(0, 0, 0, 0.35) !important;
}

.searchPillLabel {
  padding-left: 0 !important;
}

.modalAction {
  margin-top: 0 !important;
  margin-right: 0 !important;
}

.modalFooterActions {
  height: auto !important;
}

.joinOperator {
  margin-left: 0.5em;
  padding: 0 22px 2px 0 !important;
  line-height: calc(1em + 18px) !important;
  color: $grey-5;
  font-weight: normal !important;
  height: 0.8em;
}

.joinOperatorChip {
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
}

.joinOperatorRootLeft {
  border-left: 2px dashed lightgrey;
  width: 2px;
  color: #727272;
  height: calc(1em + 14px);
  margin-left: 0.25em;
}

.joinOperatorRootRight {
  border-right: 2px dashed lightgrey;
}

.joinOperatorDisabled {
  color: $grey-5;
  align-items: center;
  display: flex;
  font-weight: normal !important;
}

.cancelButton {
  margin-left: auto !important;
}

.searchContainer {
  display: flex;
  align-items: center;
  //border-left: 2px solid blue;
  //border-right: 2px solid blue;
  //border-bottom: 2px solid blue;
}

.afterCursor {
  min-width: 25px;
  border: 0;
  display: flex;
  height: 100%;
  flex-grow: 1;
  padding-left: 0.5em;
  align-items: center;
}

.searchGroup {
  display: flex;
  align-items: center;
  padding: '2px 0.1em';
  border: 1px dashed;
  border-radius: 2em;
  flex-wrap: nowrap;
  //border-right: 2px solid blue;
  //background-color: rgba(0, 20, 60, 0.35);
}

.resetButton {
  width: 1.5em !important;
  font-size: 1.5em !important;
}

.searchGroupNestedLeft {
  display: flex;
  align-items: center;
  padding-left: 0.1em;
  border-left: 1px dashed;
  border-radius: 2em;
}

.searchGroupNestedRight {
  display: flex;
  align-items: center;
  padding-right: 0.1em;
  border-right: 1px dashed;
  border-radius: 2em;
}

.removeUnderline {
  content: none;
}

.advancedButton {
  display: flex;
  align-items: center;
}

.customBadge {
  width: 20px;
  height: 20px;
  background-color: #f44336;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
