@import 'src/styles/modules/variables';

.searchGroup {
  display: inline-flex;
  padding: 0.2em;
  align-items: center;
  border: 1px dashed $blue-1;
  border-radius: 2em;
  flex-wrap: nowrap;
}

.searchGroupNestedLeft {
  display: inline-flex;
  align-items: center;
  padding-left: 0.2em;
  border-left: 1px dashed $blue-2;
  border-radius: 2em;
}

.searchGroupNestedRight {
  display: inline-flex;
  align-items: center;
  padding-right: 0.2em;
  border-right: 1px dashed $blue-2;
  border-radius: 2em;
}

.joiningOperator {
  padding: 0 0.25em;
  display: inline-flex;
  align-items: center;
}

.searchBarContainer {
  display: inline-flex;
  align-content: center;
  align-items: center;
}

.tooltipContainer {
  display: inline-flex;
}
