@import 'src/styles/modules/variables';

.searchBar {
  width: 100%;
  height: 45px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.searchBarContainer {
  margin-left: 1em;
  margin-right: 1em;
}

.supportedCategories {
  margin-right: 0.25em;
  margin-left: 0.25em;
  height: 38px;
}

.searchInput {
  flex-grow: 1;
  cursor: text;
  padding-left: 0.25em;
  padding-right: 0.25em;
  overflow-x: auto;
  display: flex;
  align-items: center;
  height: 45px;
}

.engineCategoryPill {
  width: 1.5em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.engineCategoryIcon {
  svg {
    color: #222 !important;
  }
}

.searchPill {
  height: 30px;
  border-radius: 3px !important;
  margin-right: 3px;
  margin-left: 3px;

  & .deleteIcon {
    height: 65%;
  }
}

.searchPillLabel {
  padding-left: 0 !important;
}

.joinOperator {
  margin-left: 0.5em;
  padding: 0 22px 2px 0 !important;
  line-height: calc(1em + 18px) !important;
  color: lightgrey;
}

.joinOperatorRootLeft {
  border-left: 2px dashed lightgrey;
  width: 2px;
  color: #727272;
  height: calc(1em + 14px);
  margin-left: 0.25em;
}

.joinOperatorRootRight {
  border-right: 2px dashed lightgrey;
}

.joinOperatorDisabled {
  color: $grey-5;
  align-items: center;
  display: flex;
}


.searchContainer {
  display: flex;
  align-items: center;
  //border-left: 2px solid blue;
  //border-right: 2px solid blue;
  border-bottom: 2px solid blue;
}

.afterCursor {
  width: 100%;
  border: 0px;
  display: flex;
  height: 100%;
  margin-left: 0.5em;
}

.searchGroup {
  //width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  border-bottom: 2px solid blue;
  align-items: center;
  //border-right: 2px solid blue;
  //background-color: rgba(0, 20, 60, 0.35);
}

.removeUnderline {
  content: none;
}
