.title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.71px;
    line-height: 24px;
    h2 {
        display: flex;
        justify-content: space-between;
    }
}

.iconHolder {
    i {
        color: rgb(117, 117, 117)
    }
}

.dialog {
    color: rgba(0,0,0,0.54);
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 16px;
    margin: 0;
}

.btn {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 16px;
    &:hover {
        background-color: rgba(0, 0, 0, 0) !important;
    }
}

.actionBtn {
    color: #368BF7 !important;
}

.cancelBtn {
    color: #000000 !important;
}