.subappbar-container {  
  display: flex;
  height: 48px;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  width: 100%;
}
.button-container-react {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  left: 0;
  color: #2195F3;
  text-transform: initial;
  cursor: default;
  width: 239px;
  padding: 0;
}
