$handle-size: 6px;

.resizeHandle {
  background-color: #4893e2;
  width: $handle-size !important;
  height: $handle-size !important;
}

.resizeHandleHorizontal {
  top: calc(50% - #{$handle-size/2}) !important;
}

.resizeHandleVertical {
  left: calc(50% - #{$handle-size/2}) !important;
}
