.container {
    display: flex;
}

.locationalCheckbox{
    box-sizing: border-box;
    height: 202px;
    width: 320px;
    background-color: #FFF;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.step-item {
    text-align: center;
    background-color: #F5F6F7;
    width: 100%;
    height: 100%;
    padding: 55px 30px 30px;
    border: 1px solid #DADCDF;

}

.aria-item {
    display: flex;
    justify-content: center;
}

.introText {
    margin-bottom: 20px;
    color: #5F6369;
    font-family: Roboto;
    font-size: 15px;
    line-height: 20px;
}

.introTextStep2 {
    margin-top: 50px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    color: #5F6369;
    font-family: Roboto;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}
.screenLocation{
    height: 202px;	
    width: 340px;
    border: 1px solid #DADCDF;
    display: inline-block;
    vertical-align: top;
}
.step-item .btn-action-area{
    border: 1px solid #DADCDF;
    border-radius: 3px;
    padding: 7px 25px;
    color: #1973E8;
}
.step-item .btn-action-area:hover{
    background-color: rgba(0, 0, 0, 0);
}
.image-default{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(https://s3.amazonaws.com/static.veritone.com/veritone-ui/nullstate.png);
    height: 200px;
    width: 340px;
}