.container {
    display: flex;
    justify-content: center;
}

.context {
    flex-direction: column;
    text-align: center; 
    > div {
        display: flex;
        justify-content: center; 
    }
}