.container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.context {
  flex-direction: column;
  text-align: center;
  > div {
    display: flex;
    justify-content: center;
  }
}

.header {
  margin: 0px 0px 10px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.71px;
  line-height: 24px;
}

.subHeader {
  margin: 0px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: 0.46px;
  line-height: 15px;
}

.rowLabel {
  font-size: 14px !important;
  font-weight: 500;
  line-height: 16px;
}

.rowData {
  font-size: 12px !important;
  height: 64px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.54) !important;
  text-overflow: ellipsis;
}
.infoBoxes {
  margin-top: 30px;
}

.iconHolder {
  text-align: right !important;
}

.icon {
  color: rgba(0, 0, 0, 0.54);
  font-size: 22px;
}
.resetLink {
  color: #368bf7 !important;
  text-align: right !important;
}

@media screen and (min-width: 643px) {
  .context {
    min-width: 643px;
  }
  .infoBoxes {
    width: 643px;
  }
}
