@import 'src/styles/modules/_muiTypography';
@import 'src/styles/modules/_variables';

.sideBar {
  $width: 250px;
  min-width: $width;
  max-width: $width;
  border-right: 1px solid $grey-4;

  .isFetching {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }

  .failedToFetchIcon {
    $iconSize: 50px;
    height: $iconSize;
    width: $iconSize;
    color: rgba(0, 0, 0, 0.26);
  }

  .failedToFetchMessage {
    font-size: 18px;
    color: $light-black;
    font-weight: 200;
    margin: 15px 0;
  }
}

.inlineFilter {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}

.filterContainer {
  @include mui-text('body1');
  padding: 10px 20px;
  color: $full-black;
}

.title {
  font-weight: 500;
  margin-bottom: 10px;
}

.checkbox,
.radio {
  $dimensions: 24px !important;
  height: $dimensions;
  width: $dimensions;
  margin-right: 8px !important;
}

.rc-slider-handle {
  border: 2px solid $blue-1 !important;
  background-color: $blue-1 !important;
}

.rc-slider-track {
  background-color: $blue-1 !important;
}
