@import 'src/styles/modules/variables';

.faceContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
}

.faceContainerHover {
  background-color: $grey-2;
  cursor: pointer;
}

.entityImageContainer {
  position: relative;
}

.selectFaceCheckboxBackground {
  margin-top: 7px;
  margin-left: 7px;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: white;
}

.selectFaceCheckbox {
  width: 30px !important;
  height: 30px !important;
  position: absolute !important;
}

.entityImage {
  width: 100%;
  height: 100%;
  border: 1px solid $grey-4;
  border-radius: 4px;
  position: absolute;
  background-color: $grey-4;
}

.loadingContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageButtonOverlay {
  width: calc(100% - 2px);
  height: 26px;
  bottom: 0;
  position: absolute;
  border-radius: 0 0 4px 4px;
  opacity: 0.75;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1px 1px;
}

.editActionOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 4px;
  background-color: $grey-1;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .actionIcon {
    color: $green-primary;
  }
}

.faceActionIcon {
  color: white;
  width: 20px !important;
  height: 20px !important;
  opacity: 1;
  cursor: pointer;
}

.faceInformation {
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}

.faceTimeOccurrence {
  color: $blue-1;
}

.autoCompleteDropdown {
  display: flex;
  flex-direction: column;
  max-height: 320px;
}

.entitySearchInput {
  font-size: 14px !important;
  padding: 0 !important;
  width: 100%;

  input {
    &::-webkit-input-placeholder {
      text-align: center;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      text-align: center;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      text-align: center;
    }

    &:-ms-input-placeholder {
      text-align: center;
    }
  }
}

.searchResultsList {
  width: 250px;
  flex: auto;
  overflow-y: auto;
  overflow-x: hidden;

  .progressContainer {
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.notFoundEntityMessage {
  width: 100%;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  margin: 12px 0;
}

.entityMenuItem {
  margin: 5px 0;
}

.entityInfo {
  width: 160px;
  margin-left: 15px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $dark-black;
}

.menuEntityName {
  width: 100%;
  height: 16px;
  font-size: 14px;
  color: $light-black;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menuEntityNameMatch {
  color: $dark-black;
  font-weight: bold;
}

.menuLibraryName {
  width: 100%;
  height: 14px;
  font-size: 12px;
  color: $light-black;
  line-height: 14px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addNewEntity {
  bottom: 0;
  height: 45px;
  border-top: 1px solid $grey-4;
}

.addNewEntityButton {
  width: 100%;
  height: 100%;
}

.unknownEntityText {
  font-size: 14px;
  height: 17px;
  margin-top: 5px;
  color: $light-black;
}

.libraryMatchesTitle {
  font-size: 16px;
  font-weight: 500;
  padding: 20px 15px 10px;
  text-align: start;
}
