@import 'src/styles/modules/variables';
@import 'src/styles/modules/muiTypography';

.engineOutputHeader {
  height: 45px;
  width: 100%;
  flex: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: $dark-black;

  .headerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    max-width: 30%;
  }

  .headerActions {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .engineFormControl {
    min-width: 120px;
    margin-left: 20px;

    .categoryIcon {
      font-size: 20px;
      margin: 6px;
    }

    .engineSelect {
      @include mui-text('body1');
      white-space: nowrap;
      padding: 0;
    }
  }

  .actionIconButton {
    margin-left: 10px;
    height: 40px;
    width: 40px;
  }

  .moreMenuItem {
    color: $dark-black !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    line-height: 16px !important;
    z-index: auto;
  }

  .actionIconDivider {
    margin: 0 4px 0 20px;
    background-color: $grey-4;
    height: 24px;
    width: 1px;
  }

  .expandedViewButton {
    border-left: 1px solid $grey-4;
  }
}

.engine {
  @include mui-text('body1');
}

.moreMenuPopperContent {
  z-index: 1;
}

.mainMenu {
  min-width: 300px;
}

.engineList {
  max-height: calc(48px * 3);
  overflow-y: auto !important;
}

.selectMenuItem {
  font-size: 14px !important;

  &.menuItemInset {
    margin-left: 40px;
  }
}

.restoreOriginalMenuItem {
  padding: 0 !important;
}

.subMenuCheckIcon {
  margin-right: 0 !important;
}

.dropdownIcon {
  margin-top: 4px;
  color: $light-black;
}

.mainMenuText {
  max-width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  user-select: none;
}
