@import 'src/styles/modules/variables';

.engineOutputHeader {
  height: 45px;
  width: 100%;
  flex: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: $dark-black;

  .headerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    max-width: 30%;
  }

  .headerActions {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .engineSelect {
    max-width: 150px;
    margin-left: 20px;
    font-size: 14px;
  }

  .actionIconDivider {
    margin: 0 4px 0 20px;
    background-color: #e0e0e0;
    height: 24px;
    width: 1px;
  }

  .expandedViewButton {
    border-left: 1px solid #e0e0e0;
  }
}

.engine {
  font-size: 14px !important;
}
